<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Druid_1_Idle_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,280},{118,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{76,21},{118,139}}</string>
				<key>sourceSize</key>
				<string>{118,139}</string>
			</dict>

			<key>Druid_1_Idle_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{359,279},{117,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{77,22},{117,138}}</string>
				<key>sourceSize</key>
				<string>{118,139}</string>
			</dict>

			<key>Druid_1_Idle_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{119,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{75,21},{119,139}}</string>
				<key>sourceSize</key>
				<string>{118,139}</string>
			</dict>

			<key>Druid_1_Idle_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,281},{119,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{75,21},{119,139}}</string>
				<key>sourceSize</key>
				<string>{118,139}</string>
			</dict>

			<key>Druid_1_Idle_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{359,0},{117,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{77,22},{117,138}}</string>
				<key>sourceSize</key>
				<string>{118,139}</string>
			</dict>

			<key>Druid_1_Idle_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{359,139},{117,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{76,21},{117,139}}</string>
				<key>sourceSize</key>
				<string>{118,139}</string>
			</dict>

			<key>Druid_1_Idle_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,0},{118,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{75,21},{118,139}}</string>
				<key>sourceSize</key>
				<string>{118,139}</string>
			</dict>

			<key>Druid_1_Idle_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,140},{118,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{75,21},{118,139}}</string>
				<key>sourceSize</key>
				<string>{118,139}</string>
			</dict>

			<key>Druid_1_Idle_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,141},{119,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{74,20},{119,140}}</string>
				<key>sourceSize</key>
				<string>{118,139}</string>
			</dict>

			<key>Druid_1_Idle_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,0},{119,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{74,20},{119,140}}</string>
				<key>sourceSize</key>
				<string>{118,139}</string>
			</dict>

			<key>Druid_1_Idle_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,282},{119,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{74,20},{119,140}}</string>
				<key>sourceSize</key>
				<string>{118,139}</string>
			</dict>

			<key>Druid_1_Idle_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,140},{119,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{74,20},{119,140}}</string>
				<key>sourceSize</key>
				<string>{118,139}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,512}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>