<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>smoke_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{224,219},{20,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{20,20}}</string>
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>

			<key>smoke_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{224,219},{20,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{20,20}}</string>
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>

			<key>smoke_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{320,203},{56,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,46}}</string>
				<key>sourceSize</key>
				<string>{56,46}</string>
			</dict>

			<key>smoke_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{320,135},{84,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{84,67}}</string>
				<key>sourceSize</key>
				<string>{84,67}</string>
			</dict>

			<key>smoke_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{224,135},{95,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{95,83}}</string>
				<key>sourceSize</key>
				<string>{95,83}</string>
			</dict>

			<key>smoke_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{117,138},{106,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{106,104}}</string>
				<key>sourceSize</key>
				<string>{106,104}</string>
			</dict>

			<key>smoke_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,138},{116,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,98}}</string>
				<key>sourceSize</key>
				<string>{116,98}</string>
			</dict>

			<key>smoke_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{139,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{139,137}}</string>
				<key>sourceSize</key>
				<string>{139,137}</string>
			</dict>

			<key>smoke_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{140,0},{137,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{137,127}}</string>
				<key>sourceSize</key>
				<string>{137,127}</string>
			</dict>

			<key>smoke_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{278,0},{128,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,134}}</string>
				<key>sourceSize</key>
				<string>{128,134}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,256}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>