<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1184,1472},{224,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1000,521},{224,109}}</string>
				<key>sourceSize</key>
				<string>{224,109}</string>
			</dict>

			<key>01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1287,360},{371,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{886,493},{371,160}}</string>
				<key>sourceSize</key>
				<string>{224,109}</string>
			</dict>

			<key>02.png</key>
			<dict>
				<key>frame</key>
				<string>{{3028,3258},{524,226}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{766,465},{524,226}}</string>
				<key>sourceSize</key>
				<string>{224,109}</string>
			</dict>

			<key>03.png</key>
			<dict>
				<key>frame</key>
				<string>{{3028,2965},{676,292}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{647,437},{676,292}}</string>
				<key>sourceSize</key>
				<string>{224,109}</string>
			</dict>

			<key>04.png</key>
			<dict>
				<key>frame</key>
				<string>{{2237,0},{829,358}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{527,408},{829,358}}</string>
				<key>sourceSize</key>
				<string>{224,109}</string>
			</dict>

			<key>05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1177,1614},{981,424}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{408,380},{981,424}}</string>
				<key>sourceSize</key>
				<string>{224,109}</string>
			</dict>

			<key>06.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2618},{1133,489}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{289,352},{1133,489}}</string>
				<key>sourceSize</key>
				<string>{224,109}</string>
			</dict>

			<key>07.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{1286,555}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{169,324},{1286,555}}</string>
				<key>sourceSize</key>
				<string>{224,109}</string>
			</dict>

			<key>08.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1614},{1176,508}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{204,345},{1176,508}}</string>
				<key>sourceSize</key>
				<string>{224,109}</string>
			</dict>

			<key>09.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3563},{1068,461}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{237,366},{1068,461}}</string>
				<key>sourceSize</key>
				<string>{224,109}</string>
			</dict>

			<key>10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1134,2618},{1002,414}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{271,387},{1002,414}}</string>
				<key>sourceSize</key>
				<string>{224,109}</string>
			</dict>

			<key>11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1184,1099},{976,372}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{305,403},{976,372}}</string>
				<key>sourceSize</key>
				<string>{224,109}</string>
			</dict>

			<key>12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1287,0},{949,359}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{339,391},{949,359}}</string>
				<key>sourceSize</key>
				<string>{224,109}</string>
			</dict>

			<key>13.png</key>
			<dict>
				<key>frame</key>
				<string>{{2104,3033},{923,381}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{373,380},{923,381}}</string>
				<key>sourceSize</key>
				<string>{224,109}</string>
			</dict>

			<key>14.png</key>
			<dict>
				<key>frame</key>
				<string>{{2137,2558},{896,406}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{407,368},{896,406}}</string>
				<key>sourceSize</key>
				<string>{224,109}</string>
			</dict>

			<key>15.png</key>
			<dict>
				<key>frame</key>
				<string>{{2159,1472},{888,431}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{441,356},{888,431}}</string>
				<key>sourceSize</key>
				<string>{224,109}</string>
			</dict>

			<key>16.png</key>
			<dict>
				<key>frame</key>
				<string>{{2161,991},{887,434}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{475,355},{887,434}}</string>
				<key>sourceSize</key>
				<string>{224,109}</string>
			</dict>

			<key>17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1069,3543},{1030,453}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{364,336},{1030,453}}</string>
				<key>sourceSize</key>
				<string>{224,109}</string>
			</dict>

			<key>18.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1099},{1183,514}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{244,298},{1183,514}}</string>
				<key>sourceSize</key>
				<string>{224,109}</string>
			</dict>

			<key>19.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,556},{1248,542}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{176,282},{1248,542}}</string>
				<key>sourceSize</key>
				<string>{224,109}</string>
			</dict>

			<key>20.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2123},{1140,494}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{210,309},{1140,494}}</string>
				<key>sourceSize</key>
				<string>{224,109}</string>
			</dict>

			<key>21.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3108},{1068,454}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{244,335},{1068,454}}</string>
				<key>sourceSize</key>
				<string>{224,109}</string>
			</dict>

			<key>22.png</key>
			<dict>
				<key>frame</key>
				<string>{{1069,3108},{1034,434}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{278,355},{1034,434}}</string>
				<key>sourceSize</key>
				<string>{224,109}</string>
			</dict>

			<key>23.png</key>
			<dict>
				<key>frame</key>
				<string>{{1141,2123},{1000,434}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{312,355},{1000,434}}</string>
				<key>sourceSize</key>
				<string>{224,109}</string>
			</dict>

			<key>24.png</key>
			<dict>
				<key>frame</key>
				<string>{{1249,556},{967,434}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{345,355},{967,434}}</string>
				<key>sourceSize</key>
				<string>{224,109}</string>
			</dict>

			<key>25.png</key>
			<dict>
				<key>frame</key>
				<string>{{2100,3543},{933,434}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{379,355},{933,434}}</string>
				<key>sourceSize</key>
				<string>{224,109}</string>
			</dict>

			<key>26.png</key>
			<dict>
				<key>frame</key>
				<string>{{2142,2039},{889,421}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{413,366},{889,421}}</string>
				<key>sourceSize</key>
				<string>{224,109}</string>
			</dict>

			<key>27.png</key>
			<dict>
				<key>frame</key>
				<string>{{2217,360},{861,434}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{447,362},{861,434}}</string>
				<key>sourceSize</key>
				<string>{224,109}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{4096,4096}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>