<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>archer_Dying_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{2058,848},{193,282}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{113,94},{193,282}}</string>
				<key>sourceSize</key>
				<string>{193,282}</string>
			</dict>

			<key>archer_Dying_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1079,851},{196,282}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{122,89},{196,282}}</string>
				<key>sourceSize</key>
				<string>{193,282}</string>
			</dict>

			<key>archer_Dying_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,195},{283,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{42,220},{283,200}}</string>
				<key>sourceSize</key>
				<string>{193,282}</string>
			</dict>

			<key>archer_Dying_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{288,194}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{41,238},{288,194}}</string>
				<key>sourceSize</key>
				<string>{193,282}</string>
			</dict>

			<key>archer_Dying_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{288,194}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{41,238},{288,194}}</string>
				<key>sourceSize</key>
				<string>{193,282}</string>
			</dict>

			<key>archer_Dying_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{288,194}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{41,238},{288,194}}</string>
				<key>sourceSize</key>
				<string>{193,282}</string>
			</dict>

			<key>archer_Dying_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{288,194}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{41,238},{288,194}}</string>
				<key>sourceSize</key>
				<string>{193,282}</string>
			</dict>

			<key>archer_Dying_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{700,0},{199,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{131,85},{199,281}}</string>
				<key>sourceSize</key>
				<string>{193,282}</string>
			</dict>

			<key>archer_Dying_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{678,855},{200,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{141,82},{200,280}}</string>
				<key>sourceSize</key>
				<string>{193,282}</string>
			</dict>

			<key>archer_Dying_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1275,1705},{196,287}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{131,67},{196,287}}</string>
				<key>sourceSize</key>
				<string>{193,282}</string>
			</dict>

			<key>archer_Dying_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1473,0},{195,288}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{121,57},{195,288}}</string>
				<key>sourceSize</key>
				<string>{193,282}</string>
			</dict>

			<key>archer_Dying_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{284,195},{211,290}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{112,45},{211,290}}</string>
				<key>sourceSize</key>
				<string>{193,282}</string>
			</dict>

			<key>archer_Dying_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{251,1439},{228,275}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{92,71},{228,275}}</string>
				<key>sourceSize</key>
				<string>{193,282}</string>
			</dict>

			<key>archer_Dying_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1191},{253,247}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{70,117},{253,247}}</string>
				<key>sourceSize</key>
				<string>{193,282}</string>
			</dict>

			<key>archer_Dying_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,396},{269,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{59,178},{269,227}}</string>
				<key>sourceSize</key>
				<string>{193,282}</string>
			</dict>

			<key>archer_Hurt_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{2058,848},{193,282}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{113,94},{193,282}}</string>
				<key>sourceSize</key>
				<string>{193,282}</string>
			</dict>

			<key>archer_Hurt_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{878,1422},{198,282}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{124,94},{198,282}}</string>
				<key>sourceSize</key>
				<string>{193,282}</string>
			</dict>

			<key>archer_Hurt_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{2444,1418},{191,287}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{97,89},{191,287}}</string>
				<key>sourceSize</key>
				<string>{193,282}</string>
			</dict>

			<key>archer_Hurt_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{2252,0},{192,283}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{104,93},{192,283}}</string>
				<key>sourceSize</key>
				<string>{193,282}</string>
			</dict>

			<key>archer_Hurt_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{878,1705},{198,283}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{122,93},{198,283}}</string>
				<key>sourceSize</key>
				<string>{193,282}</string>
			</dict>

			<key>archer_Hurt_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1674,567},{194,285}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{106,91},{194,285}}</string>
				<key>sourceSize</key>
				<string>{193,282}</string>
			</dict>

			<key>archer_Hurt_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{678,566},{201,288}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{91,88},{201,288}}</string>
				<key>sourceSize</key>
				<string>{193,282}</string>
			</dict>

			<key>archer_Hurt_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{255,916},{212,291}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{80,85},{212,291}}</string>
				<key>sourceSize</key>
				<string>{193,282}</string>
			</dict>

			<key>archer_Hurt_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{251,1715},{218,290}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{75,86},{218,290}}</string>
				<key>sourceSize</key>
				<string>{193,282}</string>
			</dict>

			<key>archer_Hurt_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{255,624},{213,291}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{79,85},{213,291}}</string>
				<key>sourceSize</key>
				<string>{193,282}</string>
			</dict>

			<key>archer_Hurt_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{470,1715},{207,291}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{84,85},{207,291}}</string>
				<key>sourceSize</key>
				<string>{193,282}</string>
			</dict>

			<key>archer_Hurt_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{678,1483},{199,290}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{90,86},{199,290}}</string>
				<key>sourceSize</key>
				<string>{193,282}</string>
			</dict>

			<key>archer_Idle Blinking_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1864,282},{193,282}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{113,94},{193,282}}</string>
				<key>sourceSize</key>
				<string>{193,282}</string>
			</dict>

			<key>archer_Idle Blinking_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1669,0},{194,282}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{113,94},{194,282}}</string>
				<key>sourceSize</key>
				<string>{193,282}</string>
			</dict>

			<key>archer_Idle Blinking_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{2251,1696},{192,283}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{106,93},{192,283}}</string>
				<key>sourceSize</key>
				<string>{193,282}</string>
			</dict>

			<key>archer_Idle Blinking_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{2252,852},{192,282}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{106,94},{192,282}}</string>
				<key>sourceSize</key>
				<string>{193,282}</string>
			</dict>

			<key>archer_Idle Blinking_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{2252,1135},{192,282}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{106,94},{192,282}}</string>
				<key>sourceSize</key>
				<string>{193,282}</string>
			</dict>

			<key>archer_Idle Blinking_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{2257,284},{192,282}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{107,94},{192,282}}</string>
				<key>sourceSize</key>
				<string>{193,282}</string>
			</dict>

			<key>archer_Idle Blinking_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{2058,1413},{193,282}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{108,94},{193,282}}</string>
				<key>sourceSize</key>
				<string>{193,282}</string>
			</dict>

			<key>archer_Idle Blinking_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{2057,1706},{193,282}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{109,94},{193,282}}</string>
				<key>sourceSize</key>
				<string>{193,282}</string>
			</dict>

			<key>archer_Idle Blinking_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1869,565},{193,282}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{110,94},{193,282}}</string>
				<key>sourceSize</key>
				<string>{193,282}</string>
			</dict>

			<key>archer_Idle Blinking_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1863,1139},{194,282}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{111,94},{194,282}}</string>
				<key>sourceSize</key>
				<string>{193,282}</string>
			</dict>

			<key>archer_Idle Blinking_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1472,1700},{195,282}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{113,94},{195,282}}</string>
				<key>sourceSize</key>
				<string>{193,282}</string>
			</dict>

			<key>archer_Idle Blinking_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1277,283},{195,283}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{113,93},{195,283}}</string>
				<key>sourceSize</key>
				<string>{193,282}</string>
			</dict>

			<key>archer_Idle Blinking_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1473,1136},{195,283}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{112,93},{195,283}}</string>
				<key>sourceSize</key>
				<string>{193,282}</string>
			</dict>

			<key>archer_Idle Blinking_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1669,283},{194,283}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{111,93},{194,283}}</string>
				<key>sourceSize</key>
				<string>{193,282}</string>
			</dict>

			<key>archer_Idle Blinking_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{2063,284},{193,283}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{110,93},{193,283}}</string>
				<key>sourceSize</key>
				<string>{193,282}</string>
			</dict>

			<key>archer_Idle Blinking_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1863,1422},{194,283}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{108,93},{194,283}}</string>
				<key>sourceSize</key>
				<string>{193,282}</string>
			</dict>

			<key>archer_Idle Blinking_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{2058,0},{193,283}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{107,93},{193,283}}</string>
				<key>sourceSize</key>
				<string>{193,282}</string>
			</dict>

			<key>archer_Idle Blinking_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{2252,568},{192,283}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{106,93},{192,283}}</string>
				<key>sourceSize</key>
				<string>{193,282}</string>
			</dict>

			<key>archer_Shooting_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,907},{254,283}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{113,94},{254,283}}</string>
				<key>sourceSize</key>
				<string>{193,282}</string>
			</dict>

			<key>archer_Shooting_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1722},{250,282}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{112,94},{250,282}}</string>
				<key>sourceSize</key>
				<string>{193,282}</string>
			</dict>

			<key>archer_Shooting_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1439},{250,282}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{108,94},{250,282}}</string>
				<key>sourceSize</key>
				<string>{193,282}</string>
			</dict>

			<key>archer_Shooting_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,624},{254,282}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{100,94},{254,282}}</string>
				<key>sourceSize</key>
				<string>{193,282}</string>
			</dict>

			<key>archer_Shooting_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{468,916},{209,283}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{99,93},{209,283}}</string>
				<key>sourceSize</key>
				<string>{193,282}</string>
			</dict>

			<key>archer_Shooting_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{469,486},{208,283}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{100,93},{208,283}}</string>
				<key>sourceSize</key>
				<string>{193,282}</string>
			</dict>

			<key>archer_Shooting_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{480,1200},{206,282}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{103,94},{206,282}}</string>
				<key>sourceSize</key>
				<string>{193,282}</string>
			</dict>

			<key>archer_Shooting_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{496,0},{203,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{106,95},{203,281}}</string>
				<key>sourceSize</key>
				<string>{193,282}</string>
			</dict>

			<key>archer_Shooting_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{678,282},{201,283}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{109,94},{201,283}}</string>
				<key>sourceSize</key>
				<string>{193,282}</string>
			</dict>

			<key>archer_Walking_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1079,0},{197,283}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{122,96},{197,283}}</string>
				<key>sourceSize</key>
				<string>{193,282}</string>
			</dict>

			<key>archer_Walking_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{880,851},{198,283}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{124,96},{198,283}}</string>
				<key>sourceSize</key>
				<string>{193,282}</string>
			</dict>

			<key>archer_Walking_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1276,567},{196,284}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{118,95},{196,284}}</string>
				<key>sourceSize</key>
				<string>{193,282}</string>
			</dict>

			<key>archer_Walking_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1077,1705},{197,284}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{121,96},{197,284}}</string>
				<key>sourceSize</key>
				<string>{193,282}</string>
			</dict>

			<key>archer_Walking_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{687,1136},{199,285}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{124,96},{199,285}}</string>
				<key>sourceSize</key>
				<string>{193,282}</string>
			</dict>

			<key>archer_Walking_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{880,282},{198,285}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{125,96},{198,285}}</string>
				<key>sourceSize</key>
				<string>{193,282}</string>
			</dict>

			<key>archer_Walking_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{887,1135},{198,284}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{124,96},{198,284}}</string>
				<key>sourceSize</key>
				<string>{193,282}</string>
			</dict>

			<key>archer_Walking_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1077,1420},{198,284}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{120,95},{198,284}}</string>
				<key>sourceSize</key>
				<string>{193,282}</string>
			</dict>

			<key>archer_Walking_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1079,567},{196,283}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{117,95},{196,283}}</string>
				<key>sourceSize</key>
				<string>{193,282}</string>
			</dict>

			<key>archer_Walking_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1283,852},{195,283}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{114,94},{195,283}}</string>
				<key>sourceSize</key>
				<string>{193,282}</string>
			</dict>

			<key>archer_Walking_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{1669,856},{194,282}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{111,94},{194,282}}</string>
				<key>sourceSize</key>
				<string>{193,282}</string>
			</dict>

			<key>archer_Walking_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{1864,853},{193,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{111,95},{193,281}}</string>
				<key>sourceSize</key>
				<string>{193,282}</string>
			</dict>

			<key>archer_Walking_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{880,568},{198,282}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{123,96},{198,282}}</string>
				<key>sourceSize</key>
				<string>{193,282}</string>
			</dict>

			<key>archer_Walking_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{1863,1706},{193,282}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{112,95},{193,282}}</string>
				<key>sourceSize</key>
				<string>{193,282}</string>
			</dict>

			<key>archer_Walking_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{1668,1420},{194,282}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{114,95},{194,282}}</string>
				<key>sourceSize</key>
				<string>{193,282}</string>
			</dict>

			<key>archer_Walking_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{1473,289},{195,283}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{116,95},{195,283}}</string>
				<key>sourceSize</key>
				<string>{193,282}</string>
			</dict>

			<key>archer_Walking_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{1086,1134},{196,283}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{119,96},{196,283}}</string>
				<key>sourceSize</key>
				<string>{193,282}</string>
			</dict>

			<key>archer_Walking_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1079,284},{197,282}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{120,95},{197,282}}</string>
				<key>sourceSize</key>
				<string>{193,282}</string>
			</dict>

			<key>archer_Walking_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1276,1418},{196,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{117,95},{196,281}}</string>
				<key>sourceSize</key>
				<string>{193,282}</string>
			</dict>

			<key>archer_Walking_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1668,1703},{194,282}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{114,94},{194,282}}</string>
				<key>sourceSize</key>
				<string>{193,282}</string>
			</dict>

			<key>archer_Walking_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1864,0},{193,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{111,94},{193,281}}</string>
				<key>sourceSize</key>
				<string>{193,282}</string>
			</dict>

			<key>archer_Walking_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{2058,1131},{193,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{111,95},{193,281}}</string>
				<key>sourceSize</key>
				<string>{193,282}</string>
			</dict>

			<key>archer_Walking_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1479,573},{194,282}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{112,95},{194,282}}</string>
				<key>sourceSize</key>
				<string>{193,282}</string>
			</dict>

			<key>archer_Walking_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1277,0},{195,282}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{115,95},{195,282}}</string>
				<key>sourceSize</key>
				<string>{193,282}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{4096,2048}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>