<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>0_Archer_Dying_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1715,1714},{386,562}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{226,189},{386,562}}</string>
				<key>sourceSize</key>
				<string>{510,565}</string>
			</dict>

			<key>0_Archer_Dying_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{956,3516},{392,562}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{244,179},{392,562}}</string>
				<key>sourceSize</key>
				<string>{510,565}</string>
			</dict>

			<key>0_Archer_Dying_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,388},{564,399}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{85,441},{564,399}}</string>
				<key>sourceSize</key>
				<string>{510,565}</string>
			</dict>

			<key>0_Archer_Dying_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{576,387}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{82,477},{576,387}}</string>
				<key>sourceSize</key>
				<string>{510,565}</string>
			</dict>

			<key>0_Archer_Dying_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{576,387}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{82,477},{576,387}}</string>
				<key>sourceSize</key>
				<string>{510,565}</string>
			</dict>

			<key>0_Archer_Dying_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{576,387}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{82,477},{576,387}}</string>
				<key>sourceSize</key>
				<string>{510,565}</string>
			</dict>

			<key>0_Archer_Dying_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{576,387}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{82,477},{576,387}}</string>
				<key>sourceSize</key>
				<string>{510,565}</string>
			</dict>

			<key>0_Archer_Dying_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{956,2953},{396,562}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{263,170},{396,562}}</string>
				<key>sourceSize</key>
				<string>{510,565}</string>
			</dict>

			<key>0_Archer_Dying_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{929,1516},{400,560}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{282,164},{400,560}}</string>
				<key>sourceSize</key>
				<string>{510,565}</string>
			</dict>

			<key>0_Archer_Dying_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{976,0},{392,573}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{262,135},{392,573}}</string>
				<key>sourceSize</key>
				<string>{510,565}</string>
			</dict>

			<key>0_Archer_Dying_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1330,1138},{389,575}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{243,115},{389,575}}</string>
				<key>sourceSize</key>
				<string>{510,565}</string>
			</dict>

			<key>0_Archer_Dying_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{507,1809},{421,580}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{225,90},{421,580}}</string>
				<key>sourceSize</key>
				<string>{510,565}</string>
			</dict>

			<key>0_Archer_Dying_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{500,3433},{455,551}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{185,141},{455,551}}</string>
				<key>sourceSize</key>
				<string>{510,565}</string>
			</dict>

			<key>0_Archer_Dying_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1809},{506,495}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{140,233},{506,495}}</string>
				<key>sourceSize</key>
				<string>{510,565}</string>
			</dict>

			<key>0_Archer_Dying_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,788},{536,454}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{119,356},{536,454}}</string>
				<key>sourceSize</key>
				<string>{510,565}</string>
			</dict>

			<key>0_Archer_Idle_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1738,3206},{386,562}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{226,189},{386,562}}</string>
				<key>sourceSize</key>
				<string>{510,565}</string>
			</dict>

			<key>0_Archer_Idle_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1353,2642},{388,563}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{226,188},{388,563}}</string>
				<key>sourceSize</key>
				<string>{510,565}</string>
			</dict>

			<key>0_Archer_Idle_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{2489,0},{384,564}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{212,187},{384,564}}</string>
				<key>sourceSize</key>
				<string>{510,565}</string>
			</dict>

			<key>0_Archer_Idle_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{2493,565},{384,563}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{212,188},{384,563}}</string>
				<key>sourceSize</key>
				<string>{510,565}</string>
			</dict>

			<key>0_Archer_Idle_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{2129,2259},{384,563}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{212,188},{384,563}}</string>
				<key>sourceSize</key>
				<string>{510,565}</string>
			</dict>

			<key>0_Archer_Idle_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{2489,1132},{384,563}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{214,188},{384,563}}</string>
				<key>sourceSize</key>
				<string>{510,565}</string>
			</dict>

			<key>0_Archer_Idle_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{2125,2841},{385,563}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{216,188},{385,563}}</string>
				<key>sourceSize</key>
				<string>{510,565}</string>
			</dict>

			<key>0_Archer_Idle_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1715,565},{386,563}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{218,188},{386,563}}</string>
				<key>sourceSize</key>
				<string>{510,565}</string>
			</dict>

			<key>0_Archer_Idle_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1742,2277},{386,563}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{220,188},{386,563}}</string>
				<key>sourceSize</key>
				<string>{510,565}</string>
			</dict>

			<key>0_Archer_Idle_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1720,1129},{386,563}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{223,188},{386,563}}</string>
				<key>sourceSize</key>
				<string>{510,565}</string>
			</dict>

			<key>0_Archer_Idle_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1325,574},{389,563}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{226,188},{389,563}}</string>
				<key>sourceSize</key>
				<string>{510,565}</string>
			</dict>

			<key>0_Archer_Idle_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1324,2077},{390,564}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{227,187},{390,564}}</string>
				<key>sourceSize</key>
				<string>{510,565}</string>
			</dict>

			<key>0_Archer_Idle_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1349,3516},{388,564}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{225,187},{388,564}}</string>
				<key>sourceSize</key>
				<string>{510,565}</string>
			</dict>

			<key>0_Archer_Idle_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1369,0},{387,564}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{222,187},{387,564}}</string>
				<key>sourceSize</key>
				<string>{510,565}</string>
			</dict>

			<key>0_Archer_Idle_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{2102,1693},{386,565}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{220,186},{386,565}}</string>
				<key>sourceSize</key>
				<string>{510,565}</string>
			</dict>

			<key>0_Archer_Idle_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{2102,0},{386,565}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{217,186},{386,565}}</string>
				<key>sourceSize</key>
				<string>{510,565}</string>
			</dict>

			<key>0_Archer_Idle_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{2107,566},{385,565}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{215,186},{385,565}}</string>
				<key>sourceSize</key>
				<string>{510,565}</string>
			</dict>

			<key>0_Archer_Idle_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{2125,3405},{385,565}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{212,186},{385,565}}</string>
				<key>sourceSize</key>
				<string>{510,565}</string>
			</dict>

			<key>0_Archer_Shooting_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1243},{507,565}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{226,189},{507,565}}</string>
				<key>sourceSize</key>
				<string>{510,565}</string>
			</dict>

			<key>0_Archer_Shooting_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2868},{500,564}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{224,188},{500,564}}</string>
				<key>sourceSize</key>
				<string>{510,565}</string>
			</dict>

			<key>0_Archer_Shooting_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3433},{499,563}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{217,188},{499,563}}</string>
				<key>sourceSize</key>
				<string>{510,565}</string>
			</dict>

			<key>0_Archer_Shooting_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2305},{506,562}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{201,189},{506,562}}</string>
				<key>sourceSize</key>
				<string>{510,565}</string>
			</dict>

			<key>0_Archer_Shooting_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{501,2868},{416,564}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{199,187},{416,564}}</string>
				<key>sourceSize</key>
				<string>{510,565}</string>
			</dict>

			<key>0_Archer_Shooting_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{508,1243},{415,564}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{201,187},{415,564}}</string>
				<key>sourceSize</key>
				<string>{510,565}</string>
			</dict>

			<key>0_Archer_Shooting_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{565,388},{410,562}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{207,189},{410,562}}</string>
				<key>sourceSize</key>
				<string>{510,565}</string>
			</dict>

			<key>0_Archer_Shooting_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{918,2390},{405,562}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{213,190},{405,562}}</string>
				<key>sourceSize</key>
				<string>{510,565}</string>
			</dict>

			<key>0_Archer_Shooting_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{924,951},{400,564}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{219,189},{400,564}}</string>
				<key>sourceSize</key>
				<string>{510,565}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{4096,4096}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>