<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Attacking_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{3259,515},{319,415}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{134,78},{319,415}}</string>
				<key>sourceSize</key>
				<string>{320,415}</string>
			</dict>

			<key>Attacking_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3258,1035},{322,420}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{103,73},{322,420}}</string>
				<key>sourceSize</key>
				<string>{320,415}</string>
			</dict>

			<key>Attacking_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2813},{384,416}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{157,77},{384,416}}</string>
				<key>sourceSize</key>
				<string>{320,415}</string>
			</dict>

			<key>Attacking_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1382},{395,417}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{146,76},{395,417}}</string>
				<key>sourceSize</key>
				<string>{320,415}</string>
			</dict>

			<key>Attacking_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{3255,2047},{328,419}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{77,74},{328,419}}</string>
				<key>sourceSize</key>
				<string>{320,415}</string>
			</dict>

			<key>Attacking_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{2823,0},{324,416}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{70,77},{324,416}}</string>
				<key>sourceSize</key>
				<string>{320,415}</string>
			</dict>

			<key>Attacking_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{437,419}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{104,74},{437,419}}</string>
				<key>sourceSize</key>
				<string>{320,415}</string>
			</dict>

			<key>Attacking_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1899},{395,412}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{146,81},{395,412}}</string>
				<key>sourceSize</key>
				<string>{320,415}</string>
			</dict>

			<key>Attacking_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3329},{380,412}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{161,81},{380,412}}</string>
				<key>sourceSize</key>
				<string>{320,415}</string>
			</dict>

			<key>Attacking_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{480,3329},{378,414}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{163,79},{378,414}}</string>
				<key>sourceSize</key>
				<string>{320,415}</string>
			</dict>

			<key>Attacking_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{484,2411},{376,415}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{165,78},{376,415}}</string>
				<key>sourceSize</key>
				<string>{320,415}</string>
			</dict>

			<key>Attacking_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{495,1382},{374,416}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{167,77},{374,416}}</string>
				<key>sourceSize</key>
				<string>{320,415}</string>
			</dict>

			<key>Dying_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1896,2597},{365,415}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{134,78},{365,415}}</string>
				<key>sourceSize</key>
				<string>{320,415}</string>
			</dict>

			<key>Dying_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2816,2581},{344,416}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{159,72},{344,416}}</string>
				<key>sourceSize</key>
				<string>{320,415}</string>
			</dict>

			<key>Dying_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,519},{409,328}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,223},{409,328}}</string>
				<key>sourceSize</key>
				<string>{320,415}</string>
			</dict>

			<key>Dying_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,947},{406,335}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,244},{406,335}}</string>
				<key>sourceSize</key>
				<string>{320,415}</string>
			</dict>

			<key>Dying_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,947},{406,335}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,244},{406,335}}</string>
				<key>sourceSize</key>
				<string>{320,415}</string>
			</dict>

			<key>Dying_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,947},{406,335}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,244},{406,335}}</string>
				<key>sourceSize</key>
				<string>{320,415}</string>
			</dict>

			<key>Dying_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,947},{406,335}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,244},{406,335}}</string>
				<key>sourceSize</key>
				<string>{320,415}</string>
			</dict>

			<key>Dying_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{3247,0},{323,415}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{185,70},{323,415}}</string>
				<key>sourceSize</key>
				<string>{320,415}</string>
			</dict>

			<key>Dying_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{3670,0},{302,411}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{210,71},{302,411}}</string>
				<key>sourceSize</key>
				<string>{320,415}</string>
			</dict>

			<key>Dying_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{3260,3079},{311,416}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{162,53},{311,416}}</string>
				<key>sourceSize</key>
				<string>{320,415}</string>
			</dict>

			<key>Dying_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{3260,2566},{316,413}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{115,45},{316,413}}</string>
				<key>sourceSize</key>
				<string>{320,415}</string>
			</dict>

			<key>Dying_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{2816,1551},{341,396}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{77,47},{341,396}}</string>
				<key>sourceSize</key>
				<string>{320,415}</string>
			</dict>

			<key>Dying_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1474,0},{365,372}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{54,88},{365,372}}</string>
				<key>sourceSize</key>
				<string>{320,415}</string>
			</dict>

			<key>Dying_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{495,1898},{370,343}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{43,140},{370,343}}</string>
				<key>sourceSize</key>
				<string>{320,415}</string>
			</dict>

			<key>Dying_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2411},{384,302}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{24,202},{384,302}}</string>
				<key>sourceSize</key>
				<string>{320,415}</string>
			</dict>

			<key>Idle_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1450,515},{365,415}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{134,78},{365,415}}</string>
				<key>sourceSize</key>
				<string>{320,415}</string>
			</dict>

			<key>Idle_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1904,1030},{362,417}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{136,76},{362,417}}</string>
				<key>sourceSize</key>
				<string>{320,415}</string>
			</dict>

			<key>Idle_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{969,1557},{369,419}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{127,74},{369,419}}</string>
				<key>sourceSize</key>
				<string>{320,415}</string>
			</dict>

			<key>Idle_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1429,3447},{368,417}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{130,76},{368,417}}</string>
				<key>sourceSize</key>
				<string>{320,415}</string>
			</dict>

			<key>Idle_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1915,472},{360,418}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{136,75},{360,418}}</string>
				<key>sourceSize</key>
				<string>{320,415}</string>
			</dict>

			<key>Idle_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1897,3112},{363,418}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{132,75},{363,418}}</string>
				<key>sourceSize</key>
				<string>{320,415}</string>
			</dict>

			<key>Idle_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1438,1030},{366,420}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{128,73},{366,420}}</string>
				<key>sourceSize</key>
				<string>{320,415}</string>
			</dict>

			<key>Idle_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1430,2076},{367,421}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{125,72},{367,421}}</string>
				<key>sourceSize</key>
				<string>{320,415}</string>
			</dict>

			<key>Idle_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{960,2341},{370,422}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{121,71},{370,422}}</string>
				<key>sourceSize</key>
				<string>{320,415}</string>
			</dict>

			<key>Idle_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{509,519},{372,422}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{120,71},{372,422}}</string>
				<key>sourceSize</key>
				<string>{320,415}</string>
			</dict>

			<key>Idle_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{958,2926},{372,421}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{121,72},{372,421}}</string>
				<key>sourceSize</key>
				<string>{320,415}</string>
			</dict>

			<key>Idle_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{958,3447},{371,420}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{124,73},{371,420}}</string>
				<key>sourceSize</key>
				<string>{320,415}</string>
			</dict>

			<key>Walking_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1006,0},{368,415}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{141,76},{368,415}}</string>
				<key>sourceSize</key>
				<string>{320,415}</string>
			</dict>

			<key>Walking_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{981,516},{369,414}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{140,78},{369,414}}</string>
				<key>sourceSize</key>
				<string>{320,415}</string>
			</dict>

			<key>Walking_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{969,1041},{369,416}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{140,78},{369,416}}</string>
				<key>sourceSize</key>
				<string>{320,415}</string>
			</dict>

			<key>Walking_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1438,1550},{365,416}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{141,78},{365,416}}</string>
				<key>sourceSize</key>
				<string>{320,415}</string>
			</dict>

			<key>Walking_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{2361,2581},{355,417}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{147,77},{355,417}}</string>
				<key>sourceSize</key>
				<string>{320,415}</string>
			</dict>

			<key>Walking_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{2816,518},{343,417}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{153,77},{343,417}}</string>
				<key>sourceSize</key>
				<string>{320,415}</string>
			</dict>

			<key>Walking_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{2818,2047},{337,416}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{157,77},{337,416}}</string>
				<key>sourceSize</key>
				<string>{320,415}</string>
			</dict>

			<key>Walking_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{2816,1035},{342,416}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{158,76},{342,416}}</string>
				<key>sourceSize</key>
				<string>{320,415}</string>
			</dict>

			<key>Walking_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{2364,1547},{352,416}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{153,76},{352,416}}</string>
				<key>sourceSize</key>
				<string>{320,415}</string>
			</dict>

			<key>Walking_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1903,1550},{361,416}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{148,76},{361,416}}</string>
				<key>sourceSize</key>
				<string>{320,415}</string>
			</dict>

			<key>Walking_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1430,2597},{366,414}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{142,78},{366,414}}</string>
				<key>sourceSize</key>
				<string>{320,415}</string>
			</dict>

			<key>Walking_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{2359,2066},{359,415}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{147,77},{359,415}}</string>
				<key>sourceSize</key>
				<string>{320,415}</string>
			</dict>

			<key>Walking_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{2366,990},{350,415}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{153,77},{350,415}}</string>
				<key>sourceSize</key>
				<string>{320,415}</string>
			</dict>

			<key>Walking_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{2815,3098},{345,416}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{157,77},{345,416}}</string>
				<key>sourceSize</key>
				<string>{320,415}</string>
			</dict>

			<key>Walking_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{2375,0},{348,418}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{158,76},{348,418}}</string>
				<key>sourceSize</key>
				<string>{320,415}</string>
			</dict>

			<key>Walking_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{2360,3112},{355,418}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{153,76},{355,418}}</string>
				<key>sourceSize</key>
				<string>{320,415}</string>
			</dict>

			<key>Walking_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1897,2066},{362,418}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{147,76},{362,418}}</string>
				<key>sourceSize</key>
				<string>{320,415}</string>
			</dict>

			<key>Walking_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{537,0},{369,416}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{141,77},{369,416}}</string>
				<key>sourceSize</key>
				<string>{320,415}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{4096,4096}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>