<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>war_attacking_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1283,837},{160,208}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{67,39},{160,208}}</string>
				<key>sourceSize</key>
				<string>{183,208}</string>
			</dict>

			<key>war_attacking_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1281,1695},{162,211}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{51,36},{162,211}}</string>
				<key>sourceSize</key>
				<string>{183,208}</string>
			</dict>

			<key>war_attacking_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,964},{193,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{78,38},{193,209}}</string>
				<key>sourceSize</key>
				<string>{183,208}</string>
			</dict>

			<key>war_attacking_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,754},{198,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{73,38},{198,209}}</string>
				<key>sourceSize</key>
				<string>{183,208}</string>
			</dict>

			<key>war_attacking_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1122,0},{165,210}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{38,37},{165,210}}</string>
				<key>sourceSize</key>
				<string>{183,208}</string>
			</dict>

			<key>war_attacking_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1282,1485},{162,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{35,38},{162,209}}</string>
				<key>sourceSize</key>
				<string>{183,208}</string>
			</dict>

			<key>war_attacking_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{219,210}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{52,37},{219,210}}</string>
				<key>sourceSize</key>
				<string>{183,208}</string>
			</dict>

			<key>war_attacking_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,546},{198,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{73,40},{198,207}}</string>
				<key>sourceSize</key>
				<string>{183,208}</string>
			</dict>

			<key>war_attacking_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1326},{191,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{80,40},{191,207}}</string>
				<key>sourceSize</key>
				<string>{183,208}</string>
			</dict>

			<key>war_attacking_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1534},{190,208}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{81,39},{190,208}}</string>
				<key>sourceSize</key>
				<string>{183,208}</string>
			</dict>

			<key>war_attacking_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1743},{189,208}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{82,39},{189,208}}</string>
				<key>sourceSize</key>
				<string>{183,208}</string>
			</dict>

			<key>war_attacking_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{190,1743},{188,208}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{83,39},{188,208}}</string>
				<key>sourceSize</key>
				<string>{183,208}</string>
			</dict>

			<key>war_dying_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{565,1807},{183,208}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{67,39},{183,208}}</string>
				<key>sourceSize</key>
				<string>{183,208}</string>
			</dict>

			<key>war_dying_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{948,0},{173,208}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{79,36},{173,208}}</string>
				<key>sourceSize</key>
				<string>{183,208}</string>
			</dict>

			<key>war_dying_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,211},{205,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,111},{205,165}}</string>
				<key>sourceSize</key>
				<string>{183,208}</string>
			</dict>

			<key>war_dying_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,377},{203,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,122},{203,168}}</string>
				<key>sourceSize</key>
				<string>{183,208}</string>
			</dict>

			<key>war_dying_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,377},{203,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,122},{203,168}}</string>
				<key>sourceSize</key>
				<string>{183,208}</string>
			</dict>

			<key>war_dying_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,377},{203,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,122},{203,168}}</string>
				<key>sourceSize</key>
				<string>{183,208}</string>
			</dict>

			<key>war_dying_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,377},{203,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,122},{203,168}}</string>
				<key>sourceSize</key>
				<string>{183,208}</string>
			</dict>

			<key>war_dying_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1280,628},{162,208}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{92,35},{162,208}}</string>
				<key>sourceSize</key>
				<string>{183,208}</string>
			</dict>

			<key>war_dying_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1275,211},{151,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{105,35},{151,206}}</string>
				<key>sourceSize</key>
				<string>{183,208}</string>
			</dict>

			<key>war_dying_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1283,1046},{156,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{81,26},{156,209}}</string>
				<key>sourceSize</key>
				<string>{183,208}</string>
			</dict>

			<key>war_dying_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1115,211},{159,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{57,23},{159,206}}</string>
				<key>sourceSize</key>
				<string>{183,208}</string>
			</dict>

			<key>war_dying_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{199,759},{171,199}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{38,23},{171,199}}</string>
				<key>sourceSize</key>
				<string>{183,208}</string>
			</dict>

			<key>war_dying_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{565,968},{183,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{27,44},{183,186}}</string>
				<key>sourceSize</key>
				<string>{183,208}</string>
			</dict>

			<key>war_dying_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{191,1538},{186,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{21,70},{186,172}}</string>
				<key>sourceSize</key>
				<string>{183,208}</string>
			</dict>

			<key>war_dying_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1174},{192,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,101},{192,151}}</string>
				<key>sourceSize</key>
				<string>{183,208}</string>
			</dict>

			<key>war_hurt_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{565,1807},{183,208}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{67,39},{183,208}}</string>
				<key>sourceSize</key>
				<string>{183,208}</string>
			</dict>

			<key>war_hurt_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{932,637},{177,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{73,38},{177,209}}</string>
				<key>sourceSize</key>
				<string>{183,208}</string>
			</dict>

			<key>war_hurt_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{577,209},{182,213}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{51,34},{182,213}}</string>
				<key>sourceSize</key>
				<string>{183,208}</string>
			</dict>

			<key>war_hurt_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{565,1386},{184,211}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{58,36},{184,211}}</string>
				<key>sourceSize</key>
				<string>{183,208}</string>
			</dict>

			<key>war_hurt_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{931,1471},{177,210}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{67,37},{177,210}}</string>
				<key>sourceSize</key>
				<string>{183,208}</string>
			</dict>

			<key>war_hurt_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{930,422},{178,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{49,33},{178,214}}</string>
				<key>sourceSize</key>
				<string>{183,208}</string>
			</dict>

			<key>war_hurt_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1109,1271},{173,213}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{33,34},{173,213}}</string>
				<key>sourceSize</key>
				<string>{183,208}</string>
			</dict>

			<key>war_hurt_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{760,209},{178,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{27,35},{178,212}}</string>
				<key>sourceSize</key>
				<string>{183,208}</string>
			</dict>

			<key>war_hurt_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,423},{179,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{28,35},{179,212}}</string>
				<key>sourceSize</key>
				<string>{183,208}</string>
			</dict>

			<key>war_hurt_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{932,847},{176,213}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{32,34},{176,213}}</string>
				<key>sourceSize</key>
				<string>{183,208}</string>
			</dict>

			<key>war_hurt_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1109,1057},{173,213}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{38,34},{173,213}}</string>
				<key>sourceSize</key>
				<string>{183,208}</string>
			</dict>

			<key>war_hurt_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,1261},{179,213}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{44,34},{179,213}}</string>
				<key>sourceSize</key>
				<string>{183,208}</string>
			</dict>

			<key>war_idle_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{565,1598},{183,208}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{67,39},{183,208}}</string>
				<key>sourceSize</key>
				<string>{183,208}</string>
			</dict>

			<key>war_idle_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{749,1598},{181,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{68,38},{181,209}}</string>
				<key>sourceSize</key>
				<string>{183,208}</string>
			</dict>

			<key>war_idle_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{379,1538},{185,210}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{63,37},{185,210}}</string>
				<key>sourceSize</key>
				<string>{183,208}</string>
			</dict>

			<key>war_idle_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{392,209},{184,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{65,38},{184,209}}</string>
				<key>sourceSize</key>
				<string>{183,208}</string>
			</dict>

			<key>war_idle_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{749,1808},{180,210}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{68,37},{180,210}}</string>
				<key>sourceSize</key>
				<string>{183,208}</string>
			</dict>

			<key>war_idle_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{749,841},{182,210}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{66,37},{182,210}}</string>
				<key>sourceSize</key>
				<string>{183,208}</string>
			</dict>

			<key>war_idle_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,1155},{183,211}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{64,36},{183,211}}</string>
				<key>sourceSize</key>
				<string>{183,208}</string>
			</dict>

			<key>war_idle_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{386,419},{184,211}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{62,36},{184,211}}</string>
				<key>sourceSize</key>
				<string>{183,208}</string>
			</dict>

			<key>war_idle_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{379,1749},{185,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{60,35},{185,212}}</string>
				<key>sourceSize</key>
				<string>{183,208}</string>
			</dict>

			<key>war_idle_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{199,546},{186,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{60,35},{186,212}}</string>
				<key>sourceSize</key>
				<string>{183,208}</string>
			</dict>

			<key>war_idle_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{192,1326},{187,211}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{60,36},{187,211}}</string>
				<key>sourceSize</key>
				<string>{183,208}</string>
			</dict>

			<key>war_idle_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{194,964},{186,211}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{62,36},{186,211}}</string>
				<key>sourceSize</key>
				<string>{183,208}</string>
			</dict>

			<key>war_walking_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,0},{185,208}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{70,38},{185,208}}</string>
				<key>sourceSize</key>
				<string>{183,208}</string>
			</dict>

			<key>war_walking_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,211},{185,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{70,39},{185,207}}</string>
				<key>sourceSize</key>
				<string>{183,208}</string>
			</dict>

			<key>war_walking_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{381,759},{185,208}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{70,39},{185,208}}</string>
				<key>sourceSize</key>
				<string>{183,208}</string>
			</dict>

			<key>war_walking_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{406,0},{183,208}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{70,39},{183,208}}</string>
				<key>sourceSize</key>
				<string>{183,208}</string>
			</dict>

			<key>war_walking_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{930,1261},{178,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{73,38},{178,209}}</string>
				<key>sourceSize</key>
				<string>{183,208}</string>
			</dict>

			<key>war_walking_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1109,1485},{172,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{76,38},{172,209}}</string>
				<key>sourceSize</key>
				<string>{183,208}</string>
			</dict>

			<key>war_walking_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1110,628},{169,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{78,38},{169,209}}</string>
				<key>sourceSize</key>
				<string>{183,208}</string>
			</dict>

			<key>war_walking_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1109,1695},{171,208}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{79,38},{171,208}}</string>
				<key>sourceSize</key>
				<string>{183,208}</string>
			</dict>

			<key>war_walking_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{771,0},{176,208}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{77,38},{176,208}}</string>
				<key>sourceSize</key>
				<string>{183,208}</string>
			</dict>

			<key>war_walking_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{590,0},{180,208}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{74,38},{180,208}}</string>
				<key>sourceSize</key>
				<string>{183,208}</string>
			</dict>

			<key>war_walking_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{381,968},{183,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{71,39},{183,207}}</string>
				<key>sourceSize</key>
				<string>{183,208}</string>
			</dict>

			<key>war_walking_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,1052},{180,208}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{73,38},{180,208}}</string>
				<key>sourceSize</key>
				<string>{183,208}</string>
			</dict>

			<key>war_walking_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{939,209},{175,208}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{76,38},{175,208}}</string>
				<key>sourceSize</key>
				<string>{183,208}</string>
			</dict>

			<key>war_walking_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1109,847},{173,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{78,38},{173,209}}</string>
				<key>sourceSize</key>
				<string>{183,208}</string>
			</dict>

			<key>war_walking_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1109,418},{174,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{79,38},{174,209}}</string>
				<key>sourceSize</key>
				<string>{183,208}</string>
			</dict>

			<key>war_walking_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{930,1808},{178,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{76,38},{178,209}}</string>
				<key>sourceSize</key>
				<string>{183,208}</string>
			</dict>

			<key>war_walking_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{567,631},{182,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{73,38},{182,209}}</string>
				<key>sourceSize</key>
				<string>{183,208}</string>
			</dict>

			<key>war_walking_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{380,1176},{185,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{70,38},{185,209}}</string>
				<key>sourceSize</key>
				<string>{183,208}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>