<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Wukong-Death_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1233,614},{107,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{70,33},{107,147}}</string>
				<key>sourceSize</key>
				<string>{177,204}</string>
			</dict>

			<key>Wukong-Death_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1118,739},{114,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{53,20},{114,156}}</string>
				<key>sourceSize</key>
				<string>{177,204}</string>
			</dict>

			<key>Wukong-Death_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{731,765},{134,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{24,57},{134,124}}</string>
				<key>sourceSize</key>
				<string>{177,204}</string>
			</dict>

			<key>Wukong-Death_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{692,892},{134,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{24,69},{134,124}}</string>
				<key>sourceSize</key>
				<string>{177,204}</string>
			</dict>

			<key>Wukong-Death_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{731,640},{134,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{24,64},{134,124}}</string>
				<key>sourceSize</key>
				<string>{177,204}</string>
			</dict>

			<key>Wukong-Death_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{747,393},{134,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{24,64},{134,124}}</string>
				<key>sourceSize</key>
				<string>{177,204}</string>
			</dict>

			<key>Wukong-Death_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{749,0},{134,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{24,69},{134,124}}</string>
				<key>sourceSize</key>
				<string>{177,204}</string>
			</dict>

			<key>Wukong-Death_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{607,146},{141,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{18,73},{141,121}}</string>
				<key>sourceSize</key>
				<string>{177,204}</string>
			</dict>

			<key>Wukong-Death_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{455,0},{147,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{13,77},{147,118}}</string>
				<key>sourceSize</key>
				<string>{177,204}</string>
			</dict>

			<key>Wukong-Death_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{366,1500},{153,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,83},{153,113}}</string>
				<key>sourceSize</key>
				<string>{177,204}</string>
			</dict>

			<key>Wukong-Death_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{366,1392},{157,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,89},{157,107}}</string>
				<key>sourceSize</key>
				<string>{177,204}</string>
			</dict>

			<key>Wukong-Death_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{352,1876},{158,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,97},{158,100}}</string>
				<key>sourceSize</key>
				<string>{177,204}</string>
			</dict>

			<key>Wukong-Death_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,1017},{130,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{42,10},{130,165}}</string>
				<key>sourceSize</key>
				<string>{177,204}</string>
			</dict>

			<key>Wukong-Death_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{346,1636},{160,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,106},{160,92}}</string>
				<key>sourceSize</key>
				<string>{177,204}</string>
			</dict>

			<key>Wukong-Death_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{184,1636},{161,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,114},{161,86}}</string>
				<key>sourceSize</key>
				<string>{177,204}</string>
			</dict>

			<key>Wukong-Death_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{184,1636},{161,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,114},{161,86}}</string>
				<key>sourceSize</key>
				<string>{177,204}</string>
			</dict>

			<key>Wukong-Death_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{184,1636},{161,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,114},{161,86}}</string>
				<key>sourceSize</key>
				<string>{177,204}</string>
			</dict>

			<key>Wukong-Death_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{184,1636},{161,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,114},{161,86}}</string>
				<key>sourceSize</key>
				<string>{177,204}</string>
			</dict>

			<key>Wukong-Death_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{184,1636},{161,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,114},{161,86}}</string>
				<key>sourceSize</key>
				<string>{177,204}</string>
			</dict>

			<key>Wukong-Death_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{689,1083},{135,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{37,4},{135,165}}</string>
				<key>sourceSize</key>
				<string>{177,204}</string>
			</dict>

			<key>Wukong-Death_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{814,1249},{131,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{38,2},{131,156}}</string>
				<key>sourceSize</key>
				<string>{177,204}</string>
			</dict>

			<key>Wukong-Death_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{866,669},{127,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{39,8},{127,149}}</string>
				<key>sourceSize</key>
				<string>{177,204}</string>
			</dict>

			<key>Wukong-Death_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{956,988},{124,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{39,16},{124,141}}</string>
				<key>sourceSize</key>
				<string>{177,204}</string>
			</dict>

			<key>Wukong-Death_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{937,1828},{125,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{36,22},{125,134}}</string>
				<key>sourceSize</key>
				<string>{177,204}</string>
			</dict>

			<key>Wukong-Death_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{749,125},{133,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{26,28},{133,127}}</string>
				<key>sourceSize</key>
				<string>{177,204}</string>
			</dict>

			<key>Wukong-Death_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{745,268},{134,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{24,41},{134,124}}</string>
				<key>sourceSize</key>
				<string>{177,204}</string>
			</dict>

			<key>Wukong-Hit_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1063,1760},{119,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{101,171},{119,148}}</string>
				<key>sourceSize</key>
				<string>{410,361}</string>
			</dict>

			<key>Wukong-Hit_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{866,518},{128,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{86,164},{128,150}}</string>
				<key>sourceSize</key>
				<string>{410,361}</string>
			</dict>

			<key>Wukong-Hit_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{261,822},{167,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{44,125},{167,150}}</string>
				<key>sourceSize</key>
				<string>{410,361}</string>
			</dict>

			<key>Wukong-Hit_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{279,415},{167,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{44,125},{167,150}}</string>
				<key>sourceSize</key>
				<string>{410,361}</string>
			</dict>

			<key>Wukong-Hit_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{219,1052},{167,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{44,125},{167,150}}</string>
				<key>sourceSize</key>
				<string>{410,361}</string>
			</dict>

			<key>Wukong-Hit_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1611},{183,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{31,125},{183,150}}</string>
				<key>sourceSize</key>
				<string>{410,361}</string>
			</dict>

			<key>Wukong-Hit_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1407},{190,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{40,70},{190,203}}</string>
				<key>sourceSize</key>
				<string>{410,361}</string>
			</dict>

			<key>Wukong-Hit_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{176,1762},{175,274}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{70,9},{175,274}}</string>
				<key>sourceSize</key>
				<string>{410,361}</string>
			</dict>

			<key>Wukong-Hit_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,822},{260,229}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{117,69},{260,229}}</string>
				<key>sourceSize</key>
				<string>{410,361}</string>
			</dict>

			<key>Wukong-Hit_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,415},{278,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{114,111},{278,198}}</string>
				<key>sourceSize</key>
				<string>{410,361}</string>
			</dict>

			<key>Wukong-Hit_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{291,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{114,111},{291,205}}</string>
				<key>sourceSize</key>
				<string>{410,361}</string>
			</dict>

			<key>Wukong-Hit_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,206},{290,208}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{114,111},{290,208}}</string>
				<key>sourceSize</key>
				<string>{410,361}</string>
			</dict>

			<key>Wukong-Hit_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,288},{144,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{75,157},{144,151}}</string>
				<key>sourceSize</key>
				<string>{410,361}</string>
			</dict>

			<key>Wukong-Hit_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,614},{277,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{114,112},{277,207}}</string>
				<key>sourceSize</key>
				<string>{410,361}</string>
			</dict>

			<key>Wukong-Hit_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{191,1407},{174,228}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{135,90},{174,228}}</string>
				<key>sourceSize</key>
				<string>{410,361}</string>
			</dict>

			<key>Wukong-Hit_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{429,765},{153,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{67,149},{153,154}}</string>
				<key>sourceSize</key>
				<string>{410,361}</string>
			</dict>

			<key>Wukong-Hit_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,1614},{151,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{64,142},{151,156}}</string>
				<key>sourceSize</key>
				<string>{410,361}</string>
			</dict>

			<key>Wukong-Hit_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{446,566},{152,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{64,136},{152,158}}</string>
				<key>sourceSize</key>
				<string>{410,361}</string>
			</dict>

			<key>Wukong-Hit_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{542,920},{149,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{67,129},{149,162}}</string>
				<key>sourceSize</key>
				<string>{410,361}</string>
			</dict>

			<key>Wukong-Hit_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{664,1526},{140,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{74,127},{140,155}}</string>
				<key>sourceSize</key>
				<string>{410,361}</string>
			</dict>

			<key>Wukong-Hit_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{538,1122},{150,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{62,127},{150,149}}</string>
				<key>sourceSize</key>
				<string>{410,361}</string>
			</dict>

			<key>Wukong-Hit_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{278,614},{167,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{44,125},{167,150}}</string>
				<key>sourceSize</key>
				<string>{410,361}</string>
			</dict>

			<key>Wukong-Idle_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{994,669},{121,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{121,148}}</string>
				<key>sourceSize</key>
				<string>{121,148}</string>
			</dict>

			<key>Wukong-Idle_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1064,1575},{119,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,1},{119,147}}</string>
				<key>sourceSize</key>
				<string>{121,148}</string>
			</dict>

			<key>Wukong-Idle_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1071,1130},{116,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,1},{116,147}}</string>
				<key>sourceSize</key>
				<string>{121,148}</string>
			</dict>

			<key>Wukong-Idle_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1119,317},{113,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,2},{113,146}}</string>
				<key>sourceSize</key>
				<string>{121,148}</string>
			</dict>

			<key>Wukong-Idle_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1183,1868},{109,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,2},{109,146}}</string>
				<key>sourceSize</key>
				<string>{121,148}</string>
			</dict>

			<key>Wukong-Idle_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1131,143},{112,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,2},{112,146}}</string>
				<key>sourceSize</key>
				<string>{121,148}</string>
			</dict>

			<key>Wukong-Idle_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1116,591},{115,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,1},{115,147}}</string>
				<key>sourceSize</key>
				<string>{121,148}</string>
			</dict>

			<key>Wukong-Idle_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1065,1337},{118,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,1},{118,147}}</string>
				<key>sourceSize</key>
				<string>{121,148}</string>
			</dict>

			<key>Wukong-Idle_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1009,168},{121,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{121,148}}</string>
				<key>sourceSize</key>
				<string>{121,148}</string>
			</dict>

			<key>Wukong-Idle_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{994,669},{121,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{121,148}}</string>
				<key>sourceSize</key>
				<string>{121,148}</string>
			</dict>

			<key>Wukong-Jump_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,973},{154,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,119},{154,148}}</string>
				<key>sourceSize</key>
				<string>{188,267}</string>
			</dict>

			<key>Wukong-Jump_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{454,141},{152,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,100},{152,146}}</string>
				<key>sourceSize</key>
				<string>{188,267}</string>
			</dict>

			<key>Wukong-Jump_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{599,493},{147,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{18,80},{147,146}}</string>
				<key>sourceSize</key>
				<string>{188,267}</string>
			</dict>

			<key>Wukong-Jump_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{607,0},{141,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{30,61},{141,145}}</string>
				<key>sourceSize</key>
				<string>{188,267}</string>
			</dict>

			<key>Wukong-Jump_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{803,1831},{133,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{44,41},{133,146}}</string>
				<key>sourceSize</key>
				<string>{188,267}</string>
			</dict>

			<key>Wukong-Jump_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{804,1682},{133,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{49,22},{133,145}}</string>
				<key>sourceSize</key>
				<string>{188,267}</string>
			</dict>

			<key>Wukong-Jump_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{664,1831},{138,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{49,7},{138,143}}</string>
				<key>sourceSize</key>
				<string>{188,267}</string>
			</dict>

			<key>Wukong-Jump_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{664,1831},{138,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{49,7},{138,143}}</string>
				<key>sourceSize</key>
				<string>{188,267}</string>
			</dict>

			<key>Wukong-Jump_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{664,1831},{138,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{49,7},{138,143}}</string>
				<key>sourceSize</key>
				<string>{188,267}</string>
			</dict>

			<key>Wukong-Jump_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{664,1831},{138,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{49,7},{138,143}}</string>
				<key>sourceSize</key>
				<string>{188,267}</string>
			</dict>

			<key>Wukong-Throw_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1232,464},{107,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{71,117},{107,149}}</string>
				<key>sourceSize</key>
				<string>{304,281}</string>
			</dict>

			<key>Wukong-Throw_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{946,1183},{124,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{44,108},{124,153}}</string>
				<key>sourceSize</key>
				<string>{304,281}</string>
			</dict>

			<key>Wukong-Throw_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{866,819},{126,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{39,74},{126,168}}</string>
				<key>sourceSize</key>
				<string>{304,281}</string>
			</dict>

			<key>Wukong-Throw_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{939,1406},{125,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{40,74},{125,168}}</string>
				<key>sourceSize</key>
				<string>{304,281}</string>
			</dict>

			<key>Wukong-Throw_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{884,0},{125,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{43,71},{125,167}}</string>
				<key>sourceSize</key>
				<string>{304,281}</string>
			</dict>

			<key>Wukong-Throw_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,1213},{174,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{33,74},{174,178}}</string>
				<key>sourceSize</key>
				<string>{304,281}</string>
			</dict>

			<key>Wukong-Throw_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1052},{218,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{50,65},{218,160}}</string>
				<key>sourceSize</key>
				<string>{304,281}</string>
			</dict>

			<key>Wukong-Throw_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1213},{205,193}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{59,46},{205,193}}</string>
				<key>sourceSize</key>
				<string>{304,281}</string>
			</dict>

			<key>Wukong-Throw_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1762},{175,213}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{76,41},{175,213}}</string>
				<key>sourceSize</key>
				<string>{304,281}</string>
			</dict>

			<key>Wukong-Throw_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{352,1729},{159,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{75,118},{159,146}}</string>
				<key>sourceSize</key>
				<string>{304,281}</string>
			</dict>

			<key>Wukong-Throw_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{664,1682},{139,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{73,116},{139,148}}</string>
				<key>sourceSize</key>
				<string>{304,281}</string>
			</dict>

			<key>Wukong-Throw_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{1184,1278},{109,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{74,117},{109,147}}</string>
				<key>sourceSize</key>
				<string>{304,281}</string>
			</dict>

			<key>Wukong-Throw_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{524,1366},{151,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{22,98},{151,159}}</string>
				<key>sourceSize</key>
				<string>{304,281}</string>
			</dict>

			<key>Wukong-Throw_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{1197,1046},{107,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{71,117},{107,149}}</string>
				<key>sourceSize</key>
				<string>{304,281}</string>
			</dict>

			<key>Wukong-Throw_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{381,1203},{156,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{18,90},{156,162}}</string>
				<key>sourceSize</key>
				<string>{304,281}</string>
			</dict>

			<key>Wukong-Throw_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{583,725},{147,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{25,83},{147,166}}</string>
				<key>sourceSize</key>
				<string>{304,281}</string>
			</dict>

			<key>Wukong-Throw_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{805,1423},{133,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{34,78},{133,167}}</string>
				<key>sourceSize</key>
				<string>{304,281}</string>
			</dict>

			<key>Wukong-Throw_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{995,422},{123,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{42,74},{123,168}}</string>
				<key>sourceSize</key>
				<string>{304,281}</string>
			</dict>

			<key>Wukong-Throw_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{993,819},{124,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{41,74},{124,168}}</string>
				<key>sourceSize</key>
				<string>{304,281}</string>
			</dict>

			<key>Wukong-Throw_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{938,1591},{125,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{40,74},{125,168}}</string>
				<key>sourceSize</key>
				<string>{304,281}</string>
			</dict>

			<key>Wukong-Throw_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{882,253},{126,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{39,74},{126,168}}</string>
				<key>sourceSize</key>
				<string>{304,281}</string>
			</dict>

			<key>Wukong-Walk_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1293,1868},{106,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{42,11},{106,147}}</string>
				<key>sourceSize</key>
				<string>{162,160}</string>
			</dict>

			<key>Wukong-Walk_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1233,290},{106,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{45,9},{106,151}}</string>
				<key>sourceSize</key>
				<string>{162,160}</string>
			</dict>

			<key>Wukong-Walk_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{676,1272},{137,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{17,8},{137,150}}</string>
				<key>sourceSize</key>
				<string>{162,160}</string>
			</dict>

			<key>Wukong-Walk_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{447,347},{152,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,6},{152,145}}</string>
				<key>sourceSize</key>
				<string>{162,160}</string>
			</dict>

			<key>Wukong-Walk_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{291,206},{162,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,4},{162,140}}</string>
				<key>sourceSize</key>
				<string>{162,160}</string>
			</dict>

			<key>Wukong-Walk_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{292,0},{162,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,4},{162,140}}</string>
				<key>sourceSize</key>
				<string>{162,160}</string>
			</dict>

			<key>Wukong-Walk_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{511,1876},{152,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,6},{152,145}}</string>
				<key>sourceSize</key>
				<string>{162,160}</string>
			</dict>

			<key>Wukong-Walk_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{676,1272},{137,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{17,8},{137,150}}</string>
				<key>sourceSize</key>
				<string>{162,160}</string>
			</dict>

			<key>Wukong-Walk_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1010,0},{120,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{31,10},{120,150}}</string>
				<key>sourceSize</key>
				<string>{162,160}</string>
			</dict>

			<key>Wukong-Walk_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1293,1868},{106,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{42,11},{106,147}}</string>
				<key>sourceSize</key>
				<string>{162,160}</string>
			</dict>

			<key>Wukong-Walk_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1197,896},{108,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{46,8},{108,149}}</string>
				<key>sourceSize</key>
				<string>{162,160}</string>
			</dict>

			<key>Wukong-Walk_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1183,1723},{111,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{46,6},{111,144}}</string>
				<key>sourceSize</key>
				<string>{162,160}</string>
			</dict>

			<key>Wukong-Walk_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1081,988},{115,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{45,4},{115,141}}</string>
				<key>sourceSize</key>
				<string>{162,160}</string>
			</dict>

			<key>Wukong-Walk_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1131,0},{112,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{46,5},{112,142}}</string>
				<key>sourceSize</key>
				<string>{162,160}</string>
			</dict>

			<key>Wukong-Walk_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1184,1426},{109,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{46,7},{109,149}}</string>
				<key>sourceSize</key>
				<string>{162,160}</string>
			</dict>

			<key>Wukong-Walk_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1294,1196},{106,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{46,9},{106,150}}</string>
				<key>sourceSize</key>
				<string>{162,160}</string>
			</dict>

			<key>Wukong-Walk_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1244,0},{106,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{43,11},{106,148}}</string>
				<key>sourceSize</key>
				<string>{162,160}</string>
			</dict>

			<key>Wukong-Walk_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1010,0},{120,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{31,10},{120,150}}</string>
				<key>sourceSize</key>
				<string>{162,160}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>