<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ew-Death_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1417,315},{107,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{70,33},{107,147}}</string>
				<key>sourceSize</key>
				<string>{177,204}</string>
			</dict>

			<key>ew-Death_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1187,586},{114,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{53,20},{114,156}}</string>
				<key>sourceSize</key>
				<string>{177,204}</string>
			</dict>

			<key>ew-Death_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{877,1039},{134,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{24,57},{134,124}}</string>
				<key>sourceSize</key>
				<string>{177,204}</string>
			</dict>

			<key>ew-Death_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{870,1707},{134,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{24,69},{134,124}}</string>
				<key>sourceSize</key>
				<string>{177,204}</string>
			</dict>

			<key>ew-Death_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{870,1832},{134,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{24,64},{134,124}}</string>
				<key>sourceSize</key>
				<string>{177,204}</string>
			</dict>

			<key>ew-Death_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{923,887},{134,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{24,64},{134,124}}</string>
				<key>sourceSize</key>
				<string>{177,204}</string>
			</dict>

			<key>ew-Death_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{873,1372},{134,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{24,69},{134,124}}</string>
				<key>sourceSize</key>
				<string>{177,204}</string>
			</dict>

			<key>ew-Death_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{786,159},{141,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{18,73},{141,121}}</string>
				<key>sourceSize</key>
				<string>{177,204}</string>
			</dict>

			<key>ew-Death_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{638,159},{147,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{13,77},{147,118}}</string>
				<key>sourceSize</key>
				<string>{177,204}</string>
			</dict>

			<key>ew-Death_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{575,1148},{153,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,83},{153,113}}</string>
				<key>sourceSize</key>
				<string>{177,204}</string>
			</dict>

			<key>ew-Death_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{559,1380},{157,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,89},{157,107}}</string>
				<key>sourceSize</key>
				<string>{177,204}</string>
			</dict>

			<key>ew-Death_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,1047},{158,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,97},{158,100}}</string>
				<key>sourceSize</key>
				<string>{177,204}</string>
			</dict>

			<key>ew-Death_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1004,1497},{130,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{42,10},{130,165}}</string>
				<key>sourceSize</key>
				<string>{177,204}</string>
			</dict>

			<key>ew-Death_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,1925},{160,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,106},{160,92}}</string>
				<key>sourceSize</key>
				<string>{177,204}</string>
			</dict>

			<key>ew-Death_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1925},{161,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,114},{161,86}}</string>
				<key>sourceSize</key>
				<string>{177,204}</string>
			</dict>

			<key>ew-Death_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1925},{161,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,114},{161,86}}</string>
				<key>sourceSize</key>
				<string>{177,204}</string>
			</dict>

			<key>ew-Death_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1925},{161,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,114},{161,86}}</string>
				<key>sourceSize</key>
				<string>{177,204}</string>
			</dict>

			<key>ew-Death_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1925},{161,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,114},{161,86}}</string>
				<key>sourceSize</key>
				<string>{177,204}</string>
			</dict>

			<key>ew-Death_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1925},{161,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,114},{161,86}}</string>
				<key>sourceSize</key>
				<string>{177,204}</string>
			</dict>

			<key>ew-Death_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{869,1206},{135,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{37,4},{135,165}}</string>
				<key>sourceSize</key>
				<string>{177,204}</string>
			</dict>

			<key>ew-Death_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{929,0},{131,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{38,2},{131,156}}</string>
				<key>sourceSize</key>
				<string>{177,204}</string>
			</dict>

			<key>ew-Death_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1005,1814},{127,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{39,8},{127,149}}</string>
				<key>sourceSize</key>
				<string>{177,204}</string>
			</dict>

			<key>ew-Death_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1132,1051},{124,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{39,16},{124,141}}</string>
				<key>sourceSize</key>
				<string>{177,204}</string>
			</dict>

			<key>ew-Death_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1008,1333},{125,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{36,22},{125,134}}</string>
				<key>sourceSize</key>
				<string>{177,204}</string>
			</dict>

			<key>ew-Death_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{927,754},{133,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{26,28},{133,127}}</string>
				<key>sourceSize</key>
				<string>{177,204}</string>
			</dict>

			<key>ew-Death_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{869,1582},{134,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{24,41},{134,124}}</string>
				<key>sourceSize</key>
				<string>{177,204}</string>
			</dict>

			<key>ew-FlyOnStick_GetHit_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{261,822},{191,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,9},{191,171}}</string>
				<key>sourceSize</key>
				<string>{196,181}</string>
			</dict>

			<key>ew-FlyOnStick_GetHit_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,1407},{194,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,8},{194,171}}</string>
				<key>sourceSize</key>
				<string>{196,181}</string>
			</dict>

			<key>ew-FlyOnStick_GetHit_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1407},{195,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,7},{195,171}}</string>
				<key>sourceSize</key>
				<string>{196,181}</string>
			</dict>

			<key>ew-FlyOnStick_GetHit_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,1579},{193,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,6},{193,171}}</string>
				<key>sourceSize</key>
				<string>{196,181}</string>
			</dict>

			<key>ew-FlyOnStick_GetHit_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{279,415},{190,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,5},{190,171}}</string>
				<key>sourceSize</key>
				<string>{196,181}</string>
			</dict>

			<key>ew-FlyOnStick_GetHit_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,1751},{193,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,5},{193,172}}</string>
				<key>sourceSize</key>
				<string>{196,181}</string>
			</dict>

			<key>ew-FlyOnStick_GetHit_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1752},{195,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,6},{195,172}}</string>
				<key>sourceSize</key>
				<string>{196,181}</string>
			</dict>

			<key>ew-FlyOnStick_GetHit_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1579},{195,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,7},{195,172}}</string>
				<key>sourceSize</key>
				<string>{196,181}</string>
			</dict>

			<key>ew-FlyOnStick_GetHit_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,1213},{192,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,8},{192,172}}</string>
				<key>sourceSize</key>
				<string>{196,181}</string>
			</dict>

			<key>ew-FlyOnStick_GetHit_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{261,994},{191,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,9},{191,171}}</string>
				<key>sourceSize</key>
				<string>{196,181}</string>
			</dict>

			<key>ew-GetHit_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1481,1051},{106,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{14,26},{106,147}}</string>
				<key>sourceSize</key>
				<string>{121,173}</string>
			</dict>

			<key>ew-GetHit_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1482,1352},{100,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,21},{100,152}}</string>
				<key>sourceSize</key>
				<string>{121,173}</string>
			</dict>

			<key>ew-GetHit_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1256,1511},{113,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,2},{113,171}}</string>
				<key>sourceSize</key>
				<string>{121,173}</string>
			</dict>

			<key>ew-GetHit_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1258,1855},{113,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,2},{113,171}}</string>
				<key>sourceSize</key>
				<string>{121,173}</string>
			</dict>

			<key>ew-GetHit_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1258,1212},{113,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,2},{113,171}}</string>
				<key>sourceSize</key>
				<string>{121,173}</string>
			</dict>

			<key>ew-GetHit_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1258,1683},{113,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,2},{113,171}}</string>
				<key>sourceSize</key>
				<string>{121,173}</string>
			</dict>

			<key>ew-GetHit_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1525,0},{97,157}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,16},{97,157}}</string>
				<key>sourceSize</key>
				<string>{121,173}</string>
			</dict>

			<key>ew-GetHit_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1482,1842},{100,161}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,12},{100,161}}</string>
				<key>sourceSize</key>
				<string>{121,173}</string>
			</dict>

			<key>ew-GetHit_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1482,1677},{104,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,9},{104,164}}</string>
				<key>sourceSize</key>
				<string>{121,173}</string>
			</dict>

			<key>ew-GetHit_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1417,147},{107,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,6},{107,167}}</string>
				<key>sourceSize</key>
				<string>{121,173}</string>
			</dict>

			<key>ew-GetHit_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1372,1827},{109,169}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,4},{109,169}}</string>
				<key>sourceSize</key>
				<string>{121,173}</string>
			</dict>

			<key>ew-GetHit_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1305,733},{112,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,3},{112,170}}</string>
				<key>sourceSize</key>
				<string>{121,173}</string>
			</dict>

			<key>ew-GetHit_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1258,1040},{113,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,2},{113,171}}</string>
				<key>sourceSize</key>
				<string>{121,173}</string>
			</dict>

			<key>ew-GetHit_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1303,296},{113,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,2},{113,171}}</string>
				<key>sourceSize</key>
				<string>{121,173}</string>
			</dict>

			<key>ew-Hit_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1185,743},{119,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{101,171},{119,148}}</string>
				<key>sourceSize</key>
				<string>{410,361}</string>
			</dict>

			<key>ew-Hit_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1005,1663},{128,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{86,164},{128,150}}</string>
				<key>sourceSize</key>
				<string>{410,361}</string>
			</dict>

			<key>ew-Hit_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{391,1386},{167,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{44,125},{167,150}}</string>
				<key>sourceSize</key>
				<string>{410,361}</string>
			</dict>

			<key>ew-Hit_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{469,587},{167,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{44,125},{167,150}}</string>
				<key>sourceSize</key>
				<string>{410,361}</string>
			</dict>

			<key>ew-Hit_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{467,0},{167,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{44,125},{167,150}}</string>
				<key>sourceSize</key>
				<string>{410,361}</string>
			</dict>

			<key>ew-Hit_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{291,206},{183,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{31,125},{183,150}}</string>
				<key>sourceSize</key>
				<string>{410,361}</string>
			</dict>

			<key>ew-Hit_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{278,614},{190,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{40,70},{190,203}}</string>
				<key>sourceSize</key>
				<string>{410,361}</string>
			</dict>

			<key>ew-Hit_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,1579},{175,274}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{70,9},{175,274}}</string>
				<key>sourceSize</key>
				<string>{410,361}</string>
			</dict>

			<key>ew-Hit_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,822},{260,229}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{117,69},{260,229}}</string>
				<key>sourceSize</key>
				<string>{410,361}</string>
			</dict>

			<key>ew-Hit_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,415},{278,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{114,111},{278,198}}</string>
				<key>sourceSize</key>
				<string>{410,361}</string>
			</dict>

			<key>ew-Hit_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{291,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{114,111},{291,205}}</string>
				<key>sourceSize</key>
				<string>{410,361}</string>
			</dict>

			<key>ew-Hit_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,206},{290,208}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{114,111},{290,208}}</string>
				<key>sourceSize</key>
				<string>{410,361}</string>
			</dict>

			<key>ew-Hit_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{782,735},{144,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{75,157},{144,151}}</string>
				<key>sourceSize</key>
				<string>{410,361}</string>
			</dict>

			<key>ew-Hit_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,614},{277,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{114,112},{277,207}}</string>
				<key>sourceSize</key>
				<string>{410,361}</string>
			</dict>

			<key>ew-Hit_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,818},{174,228}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{135,90},{174,228}}</string>
				<key>sourceSize</key>
				<string>{410,361}</string>
			</dict>

			<key>ew-Hit_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{628,738},{153,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{67,149},{153,154}}</string>
				<key>sourceSize</key>
				<string>{410,361}</string>
			</dict>

			<key>ew-Hit_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{717,1262},{151,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{64,142},{151,156}}</string>
				<key>sourceSize</key>
				<string>{410,361}</string>
			</dict>

			<key>ew-Hit_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{638,0},{152,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{64,136},{152,158}}</string>
				<key>sourceSize</key>
				<string>{410,361}</string>
			</dict>

			<key>ew-Hit_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{723,1419},{149,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{67,129},{149,162}}</string>
				<key>sourceSize</key>
				<string>{410,361}</string>
			</dict>

			<key>ew-Hit_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{786,281},{140,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{74,127},{140,155}}</string>
				<key>sourceSize</key>
				<string>{410,361}</string>
			</dict>

			<key>ew-Hit_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{637,585},{150,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{62,127},{150,149}}</string>
				<key>sourceSize</key>
				<string>{410,361}</string>
			</dict>

			<key>ew-Hit_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,1854},{167,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{44,125},{167,150}}</string>
				<key>sourceSize</key>
				<string>{410,361}</string>
			</dict>

			<key>ew-Idle_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1135,1362},{121,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{121,148}}</string>
				<key>sourceSize</key>
				<string>{121,148}</string>
			</dict>

			<key>ew-Idle_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1185,892},{119,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,1},{119,147}}</string>
				<key>sourceSize</key>
				<string>{121,148}</string>
			</dict>

			<key>ew-Idle_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1187,148},{116,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,1},{116,147}}</string>
				<key>sourceSize</key>
				<string>{121,148}</string>
			</dict>

			<key>ew-Idle_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1302,586},{113,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,2},{113,146}}</string>
				<key>sourceSize</key>
				<string>{121,148}</string>
			</dict>

			<key>ew-Idle_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1372,904},{109,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,2},{109,146}}</string>
				<key>sourceSize</key>
				<string>{121,148}</string>
			</dict>

			<key>ew-Idle_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1306,0},{112,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,2},{112,146}}</string>
				<key>sourceSize</key>
				<string>{121,148}</string>
			</dict>

			<key>ew-Idle_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1187,438},{115,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,1},{115,147}}</string>
				<key>sourceSize</key>
				<string>{121,148}</string>
			</dict>

			<key>ew-Idle_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1187,0},{118,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,1},{118,147}}</string>
				<key>sourceSize</key>
				<string>{121,148}</string>
			</dict>

			<key>ew-Idle_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1134,1663},{121,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{121,148}}</string>
				<key>sourceSize</key>
				<string>{121,148}</string>
			</dict>

			<key>ew-Idle_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1135,1362},{121,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{121,148}}</string>
				<key>sourceSize</key>
				<string>{121,148}</string>
			</dict>

			<key>ew-Jump_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,1651},{154,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,119},{154,148}}</string>
				<key>sourceSize</key>
				<string>{188,267}</string>
			</dict>

			<key>ew-Jump_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{633,438},{152,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,100},{152,146}}</string>
				<key>sourceSize</key>
				<string>{188,267}</string>
			</dict>

			<key>ew-Jump_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{721,1651},{147,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{18,80},{147,146}}</string>
				<key>sourceSize</key>
				<string>{188,267}</string>
			</dict>

			<key>ew-Jump_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{781,893},{141,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{30,61},{141,145}}</string>
				<key>sourceSize</key>
				<string>{188,267}</string>
			</dict>

			<key>ew-Jump_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{928,427},{133,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{44,41},{133,146}}</string>
				<key>sourceSize</key>
				<string>{188,267}</string>
			</dict>

			<key>ew-Jump_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{927,281},{133,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{49,22},{133,145}}</string>
				<key>sourceSize</key>
				<string>{188,267}</string>
			</dict>

			<key>ew-Jump_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{788,586},{138,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{49,7},{138,143}}</string>
				<key>sourceSize</key>
				<string>{188,267}</string>
			</dict>

			<key>ew-Jump_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{788,586},{138,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{49,7},{138,143}}</string>
				<key>sourceSize</key>
				<string>{188,267}</string>
			</dict>

			<key>ew-Jump_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{788,586},{138,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{49,7},{138,143}}</string>
				<key>sourceSize</key>
				<string>{188,267}</string>
			</dict>

			<key>ew-Jump_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{788,586},{138,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{49,7},{138,143}}</string>
				<key>sourceSize</key>
				<string>{188,267}</string>
			</dict>

			<key>ew-Throw_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1416,468},{107,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{71,117},{107,149}}</string>
				<key>sourceSize</key>
				<string>{304,281}</string>
			</dict>

			<key>ew-Throw_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1062,337},{124,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{44,108},{124,153}}</string>
				<key>sourceSize</key>
				<string>{304,281}</string>
			</dict>

			<key>ew-Throw_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1005,1164},{126,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{39,74},{126,168}}</string>
				<key>sourceSize</key>
				<string>{304,281}</string>
			</dict>

			<key>ew-Throw_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1061,574},{125,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{40,74},{125,168}}</string>
				<key>sourceSize</key>
				<string>{304,281}</string>
			</dict>

			<key>ew-Throw_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1061,169},{125,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{43,71},{125,167}}</string>
				<key>sourceSize</key>
				<string>{304,281}</string>
			</dict>

			<key>ew-Throw_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{292,0},{174,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{33,74},{174,178}}</string>
				<key>sourceSize</key>
				<string>{304,281}</string>
			</dict>

			<key>ew-Throw_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1052},{218,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{50,65},{218,160}}</string>
				<key>sourceSize</key>
				<string>{304,281}</string>
			</dict>

			<key>ew-Throw_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1213},{205,193}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{59,46},{205,193}}</string>
				<key>sourceSize</key>
				<string>{304,281}</string>
			</dict>

			<key>ew-Throw_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{399,1166},{175,213}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{76,41},{175,213}}</string>
				<key>sourceSize</key>
				<string>{304,281}</string>
			</dict>

			<key>ew-Throw_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{558,1854},{159,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{75,118},{159,146}}</string>
				<key>sourceSize</key>
				<string>{304,281}</string>
			</dict>

			<key>ew-Throw_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{788,437},{139,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{73,116},{139,148}}</string>
				<key>sourceSize</key>
				<string>{304,281}</string>
			</dict>

			<key>ew-Throw_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{1372,1679},{109,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{74,117},{109,147}}</string>
				<key>sourceSize</key>
				<string>{304,281}</string>
			</dict>

			<key>ew-Throw_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{718,1800},{151,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{22,98},{151,159}}</string>
				<key>sourceSize</key>
				<string>{304,281}</string>
			</dict>

			<key>ew-Throw_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{1372,1201},{107,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{71,117},{107,149}}</string>
				<key>sourceSize</key>
				<string>{304,281}</string>
			</dict>

			<key>ew-Throw_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,1488},{156,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{18,90},{156,162}}</string>
				<key>sourceSize</key>
				<string>{304,281}</string>
			</dict>

			<key>ew-Throw_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{729,1039},{147,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{25,83},{147,166}}</string>
				<key>sourceSize</key>
				<string>{304,281}</string>
			</dict>

			<key>ew-Throw_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{927,586},{133,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{34,78},{133,167}}</string>
				<key>sourceSize</key>
				<string>{304,281}</string>
			</dict>

			<key>ew-Throw_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1134,1193},{123,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{42,74},{123,168}}</string>
				<key>sourceSize</key>
				<string>{304,281}</string>
			</dict>

			<key>ew-Throw_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1133,1814},{124,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{41,74},{124,168}}</string>
				<key>sourceSize</key>
				<string>{304,281}</string>
			</dict>

			<key>ew-Throw_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1061,0},{125,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{40,74},{125,168}}</string>
				<key>sourceSize</key>
				<string>{304,281}</string>
			</dict>

			<key>ew-Throw_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1058,882},{126,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{39,74},{126,168}}</string>
				<key>sourceSize</key>
				<string>{304,281}</string>
			</dict>

			<key>ew-Walk_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1480,1529},{106,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{42,11},{106,147}}</string>
				<key>sourceSize</key>
				<string>{162,160}</string>
			</dict>

			<key>ew-Walk_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1418,618},{106,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{45,9},{106,151}}</string>
				<key>sourceSize</key>
				<string>{162,160}</string>
			</dict>

			<key>ew-Walk_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{791,0},{137,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{17,8},{137,150}}</string>
				<key>sourceSize</key>
				<string>{162,160}</string>
			</dict>

			<key>ew-Walk_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{633,292},{152,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,6},{152,145}}</string>
				<key>sourceSize</key>
				<string>{162,160}</string>
			</dict>

			<key>ew-Walk_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{470,357},{162,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,4},{162,140}}</string>
				<key>sourceSize</key>
				<string>{162,160}</string>
			</dict>

			<key>ew-Walk_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{475,151},{162,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,4},{162,140}}</string>
				<key>sourceSize</key>
				<string>{162,160}</string>
			</dict>

			<key>ew-Walk_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{628,893},{152,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,6},{152,145}}</string>
				<key>sourceSize</key>
				<string>{162,160}</string>
			</dict>

			<key>ew-Walk_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{791,0},{137,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{17,8},{137,150}}</string>
				<key>sourceSize</key>
				<string>{162,160}</string>
			</dict>

			<key>ew-Walk_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1135,1511},{120,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{31,10},{120,150}}</string>
				<key>sourceSize</key>
				<string>{162,160}</string>
			</dict>

			<key>ew-Walk_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1480,1529},{106,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{42,11},{106,147}}</string>
				<key>sourceSize</key>
				<string>{162,160}</string>
			</dict>

			<key>ew-Walk_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1372,1051},{108,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{46,8},{108,149}}</string>
				<key>sourceSize</key>
				<string>{162,160}</string>
			</dict>

			<key>ew-Walk_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1370,1384},{111,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{46,6},{111,144}}</string>
				<key>sourceSize</key>
				<string>{162,160}</string>
			</dict>

			<key>ew-Walk_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1187,296},{115,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{45,4},{115,141}}</string>
				<key>sourceSize</key>
				<string>{162,160}</string>
			</dict>

			<key>ew-Walk_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1304,148},{112,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{46,5},{112,142}}</string>
				<key>sourceSize</key>
				<string>{162,160}</string>
			</dict>

			<key>ew-Walk_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1370,1529},{109,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{46,7},{109,149}}</string>
				<key>sourceSize</key>
				<string>{162,160}</string>
			</dict>

			<key>ew-Walk_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1480,1201},{106,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{46,9},{106,150}}</string>
				<key>sourceSize</key>
				<string>{162,160}</string>
			</dict>

			<key>ew-Walk_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1482,770},{106,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{43,11},{106,148}}</string>
				<key>sourceSize</key>
				<string>{162,160}</string>
			</dict>

			<key>ew-Walk_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1135,1511},{120,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{31,10},{120,150}}</string>
				<key>sourceSize</key>
				<string>{162,160}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>