<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>stone_ball_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{458,666},{217,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{90,204},{217,224}}</string>
				<key>sourceSize</key>
				<string>{217,224}</string>
			</dict>

			<key>stone_ball_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,0},{219,233}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{90,200},{219,233}}</string>
				<key>sourceSize</key>
				<string>{217,224}</string>
			</dict>

			<key>stone_ball_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{452,1803},{218,233}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{96,193},{218,233}}</string>
				<key>sourceSize</key>
				<string>{217,224}</string>
			</dict>

			<key>stone_ball_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{236,884},{221,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{92,196},{221,240}}</string>
				<key>sourceSize</key>
				<string>{217,224}</string>
			</dict>

			<key>stone_ball_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{452,1561},{218,241}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{89,199},{218,241}}</string>
				<key>sourceSize</key>
				<string>{217,224}</string>
			</dict>

			<key>stone_ball_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{458,891},{216,222}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{92,210},{216,222}}</string>
				<key>sourceSize</key>
				<string>{217,224}</string>
			</dict>

			<key>stone_ball_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1757},{227,218}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{88,213},{227,218}}</string>
				<key>sourceSize</key>
				<string>{217,224}</string>
			</dict>

			<key>stone_ball_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1320},{233,218}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{87,213},{233,218}}</string>
				<key>sourceSize</key>
				<string>{217,224}</string>
			</dict>

			<key>stone_ball_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,446},{239,219}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{81,211},{239,219}}</string>
				<key>sourceSize</key>
				<string>{217,224}</string>
			</dict>

			<key>stone_ball_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,223},{242,222}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{78,205},{242,222}}</string>
				<key>sourceSize</key>
				<string>{217,224}</string>
			</dict>

			<key>stone_ball_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,666},{238,217}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{80,206},{238,217}}</string>
				<key>sourceSize</key>
				<string>{217,224}</string>
			</dict>

			<key>stone_ball_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{228,1757},{223,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{89,208},{223,216}}</string>
				<key>sourceSize</key>
				<string>{217,224}</string>
			</dict>

			<key>stone_ball_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{234,1320},{221,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{93,191},{221,240}}</string>
				<key>sourceSize</key>
				<string>{217,224}</string>
			</dict>

			<key>stone_ball_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{456,1125},{218,241}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{99,188},{218,241}}</string>
				<key>sourceSize</key>
				<string>{217,224}</string>
			</dict>

			<key>stone_ball_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{460,234},{216,223}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{98,197},{216,223}}</string>
				<key>sourceSize</key>
				<string>{217,224}</string>
			</dict>

			<key>stone_ball_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1539},{228,217}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{91,197},{228,217}}</string>
				<key>sourceSize</key>
				<string>{217,224}</string>
			</dict>

			<key>stone_ball_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,884},{235,218}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{88,192},{235,218}}</string>
				<key>sourceSize</key>
				<string>{217,224}</string>
			</dict>

			<key>stone_ball_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{242,222}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{88,194},{242,222}}</string>
				<key>sourceSize</key>
				<string>{217,224}</string>
			</dict>

			<key>stone_ball_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1103},{235,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{90,201},{235,216}}</string>
				<key>sourceSize</key>
				<string>{217,224}</string>
			</dict>

			<key>stone_ball_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,446},{219,219}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{96,200},{219,219}}</string>
				<key>sourceSize</key>
				<string>{217,224}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,2048}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>