<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>t0.png</key>
			<dict>
				<key>frame</key>
				<string>{{63,229},{9,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{120,118},{9,12}}</string>
				<key>sourceSize</key>
				<string>{248,248}</string>
			</dict>

			<key>t1.png</key>
			<dict>
				<key>frame</key>
				<string>{{69,139},{19,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{114,111},{19,27}}</string>
				<key>sourceSize</key>
				<string>{248,248}</string>
			</dict>

			<key>t2.png</key>
			<dict>
				<key>frame</key>
				<string>{{63,199},{25,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{111,110},{25,29}}</string>
				<key>sourceSize</key>
				<string>{248,248}</string>
			</dict>

			<key>t3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,199},{62,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{93,98},{62,53}}</string>
				<key>sourceSize</key>
				<string>{248,248}</string>
			</dict>

			<key>t4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{100,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{68,94},{100,61}}</string>
				<key>sourceSize</key>
				<string>{248,248}</string>
			</dict>

			<key>t5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,139},{68,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{81,93},{68,59}}</string>
				<key>sourceSize</key>
				<string>{248,248}</string>
			</dict>

			<key>t6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,62},{90,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{82,84},{90,76}}</string>
				<key>sourceSize</key>
				<string>{248,248}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{128,256}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>