<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>0_Golem_Dying_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{2361,1739},{187,287}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{122,90},{187,287}}</string>
				<key>sourceSize</key>
				<string>{187,287}</string>
			</dict>

			<key>0_Golem_Dying_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1062,563},{189,294}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{135,73},{189,294}}</string>
				<key>sourceSize</key>
				<string>{187,287}</string>
			</dict>

			<key>0_Golem_Dying_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,189},{302,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,211},{302,188}}</string>
				<key>sourceSize</key>
				<string>{187,287}</string>
			</dict>

			<key>0_Golem_Dying_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,672},{295,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{16,222},{295,188}}</string>
				<key>sourceSize</key>
				<string>{187,287}</string>
			</dict>

			<key>0_Golem_Dying_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,672},{295,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{16,222},{295,188}}</string>
				<key>sourceSize</key>
				<string>{187,287}</string>
			</dict>

			<key>0_Golem_Dying_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,672},{295,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{16,222},{295,188}}</string>
				<key>sourceSize</key>
				<string>{187,287}</string>
			</dict>

			<key>0_Golem_Dying_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,672},{295,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{16,222},{295,188}}</string>
				<key>sourceSize</key>
				<string>{187,287}</string>
			</dict>

			<key>0_Golem_Dying_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1630,288},{188,298}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{149,59},{188,298}}</string>
				<key>sourceSize</key>
				<string>{187,287}</string>
			</dict>

			<key>0_Golem_Dying_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1417,1662},{188,301}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{162,46},{188,301}}</string>
				<key>sourceSize</key>
				<string>{187,287}</string>
			</dict>

			<key>0_Golem_Dying_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{2173,890},{187,293}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{127,45},{187,293}}</string>
				<key>sourceSize</key>
				<string>{187,287}</string>
			</dict>

			<key>0_Golem_Dying_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{590,0},{225,275}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{85,57},{225,275}}</string>
				<key>sourceSize</key>
				<string>{187,287}</string>
			</dict>

			<key>0_Golem_Dying_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{576,1368},{266,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{46,73},{266,250}}</string>
				<key>sourceSize</key>
				<string>{187,287}</string>
			</dict>

			<key>0_Golem_Dying_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,1368},{281,231}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{28,111},{281,231}}</string>
				<key>sourceSize</key>
				<string>{187,287}</string>
			</dict>

			<key>0_Golem_Dying_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,861},{294,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{15,155},{294,205}}</string>
				<key>sourceSize</key>
				<string>{187,287}</string>
			</dict>

			<key>0_Golem_Dying_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{303,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,194},{303,188}}</string>
				<key>sourceSize</key>
				<string>{187,287}</string>
			</dict>

			<key>0_Golem_Hurt_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{2361,1739},{187,287}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{122,90},{187,287}}</string>
				<key>sourceSize</key>
				<string>{187,287}</string>
			</dict>

			<key>0_Golem_Hurt_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1441,290},{188,297}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{144,80},{188,297}}</string>
				<key>sourceSize</key>
				<string>{187,287}</string>
			</dict>

			<key>0_Golem_Hurt_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1984,1767},{185,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{105,97},{185,280}}</string>
				<key>sourceSize</key>
				<string>{187,287}</string>
			</dict>

			<key>0_Golem_Hurt_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{2737,577},{186,284}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{113,93},{186,284}}</string>
				<key>sourceSize</key>
				<string>{187,287}</string>
			</dict>

			<key>0_Golem_Hurt_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1424,588},{188,297}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{141,79},{188,297}}</string>
				<key>sourceSize</key>
				<string>{187,287}</string>
			</dict>

			<key>0_Golem_Hurt_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{2573,0},{186,289}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{112,87},{186,289}}</string>
				<key>sourceSize</key>
				<string>{187,287}</string>
			</dict>

			<key>0_Golem_Hurt_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{822,1085},{222,279}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{75,97},{222,279}}</string>
				<key>sourceSize</key>
				<string>{187,287}</string>
			</dict>

			<key>0_Golem_Hurt_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{586,1619},{239,273}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,103},{239,273}}</string>
				<key>sourceSize</key>
				<string>{187,287}</string>
			</dict>

			<key>0_Golem_Hurt_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{586,1085},{235,273}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{61,103},{235,273}}</string>
				<key>sourceSize</key>
				<string>{187,287}</string>
			</dict>

			<key>0_Golem_Hurt_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{816,0},{224,275}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{71,101},{224,275}}</string>
				<key>sourceSize</key>
				<string>{187,287}</string>
			</dict>

			<key>0_Golem_Hurt_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{826,1619},{211,277}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{83,99},{211,277}}</string>
				<key>sourceSize</key>
				<string>{187,287}</string>
			</dict>

			<key>0_Golem_Hurt_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{864,785},{197,279}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{94,98},{197,279}}</string>
				<key>sourceSize</key>
				<string>{187,287}</string>
			</dict>

			<key>0_Golem_Idle_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{2008,294},{187,287}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{122,90},{187,287}}</string>
				<key>sourceSize</key>
				<string>{187,287}</string>
			</dict>

			<key>0_Golem_Idle_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1252,299},{188,288}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{122,89},{188,288}}</string>
				<key>sourceSize</key>
				<string>{187,287}</string>
			</dict>

			<key>0_Golem_Idle_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{2549,1450},{187,286}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{115,91},{187,286}}</string>
				<key>sourceSize</key>
				<string>{187,287}</string>
			</dict>

			<key>0_Golem_Idle_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{2550,292},{186,286}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{115,91},{186,286}}</string>
				<key>sourceSize</key>
				<string>{187,287}</string>
			</dict>

			<key>0_Golem_Idle_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1985,890},{186,285}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{115,92},{186,285}}</string>
				<key>sourceSize</key>
				<string>{187,287}</string>
			</dict>

			<key>0_Golem_Idle_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{2550,579},{186,286}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{116,91},{186,286}}</string>
				<key>sourceSize</key>
				<string>{187,287}</string>
			</dict>

			<key>0_Golem_Idle_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{2549,1163},{187,286}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{117,91},{187,286}}</string>
				<key>sourceSize</key>
				<string>{187,287}</string>
			</dict>

			<key>0_Golem_Idle_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{2549,1737},{187,286}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{118,91},{187,286}}</string>
				<key>sourceSize</key>
				<string>{187,287}</string>
			</dict>

			<key>0_Golem_Idle_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{2361,872},{187,287}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{119,90},{187,287}}</string>
				<key>sourceSize</key>
				<string>{187,287}</string>
			</dict>

			<key>0_Golem_Idle_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1444,0},{188,287}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{120,90},{188,287}}</string>
				<key>sourceSize</key>
				<string>{187,287}</string>
			</dict>

			<key>0_Golem_Idle_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1255,0},{188,289}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{122,88},{188,289}}</string>
				<key>sourceSize</key>
				<string>{187,287}</string>
			</dict>

			<key>0_Golem_Idle_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1235,858},{188,290}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{123,87},{188,290}}</string>
				<key>sourceSize</key>
				<string>{187,287}</string>
			</dict>

			<key>0_Golem_Idle_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{2361,1448},{187,290}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{122,87},{187,290}}</string>
				<key>sourceSize</key>
				<string>{187,287}</string>
			</dict>

			<key>0_Golem_Idle_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1228,1662},{188,289}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{120,88},{188,289}}</string>
				<key>sourceSize</key>
				<string>{187,287}</string>
			</dict>

			<key>0_Golem_Idle_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{2174,582},{187,289}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{119,88},{187,289}}</string>
				<key>sourceSize</key>
				<string>{187,287}</string>
			</dict>

			<key>0_Golem_Idle_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{2197,0},{187,288}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{118,89},{187,288}}</string>
				<key>sourceSize</key>
				<string>{187,287}</string>
			</dict>

			<key>0_Golem_Idle_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{2197,289},{187,288}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{116,89},{187,288}}</string>
				<key>sourceSize</key>
				<string>{187,287}</string>
			</dict>

			<key>0_Golem_Idle_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{2361,1160},{187,287}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{115,90},{187,287}}</string>
				<key>sourceSize</key>
				<string>{187,287}</string>
			</dict>

			<key>0_Golem_Slashing_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{868,276},{196,286}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{109,91},{196,286}}</string>
				<key>sourceSize</key>
				<string>{187,287}</string>
			</dict>

			<key>0_Golem_Slashing_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2737,290},{186,286}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{115,91},{186,286}}</string>
				<key>sourceSize</key>
				<string>{187,287}</string>
			</dict>

			<key>0_Golem_Slashing_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{586,785},{277,299}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{141,78},{277,299}}</string>
				<key>sourceSize</key>
				<string>{187,287}</string>
			</dict>

			<key>0_Golem_Slashing_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,189},{286,294}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{126,83},{286,294}}</string>
				<key>sourceSize</key>
				<string>{187,287}</string>
			</dict>

			<key>0_Golem_Slashing_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,378},{301,293}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{131,84},{301,293}}</string>
				<key>sourceSize</key>
				<string>{187,287}</string>
			</dict>

			<key>0_Golem_Slashing_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,1067},{291,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{141,77},{291,300}}</string>
				<key>sourceSize</key>
				<string>{187,287}</string>
			</dict>

			<key>0_Golem_Slashing_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1661},{292,297}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{140,81},{292,297}}</string>
				<key>sourceSize</key>
				<string>{187,287}</string>
			</dict>

			<key>0_Golem_Slashing_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{293,1661},{292,296}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{140,81},{292,296}}</string>
				<key>sourceSize</key>
				<string>{187,287}</string>
			</dict>

			<key>0_Golem_Slashing_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1067},{293,296}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{139,81},{293,296}}</string>
				<key>sourceSize</key>
				<string>{187,287}</string>
			</dict>

			<key>0_Golem_Slashing_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1364},{293,296}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{139,81},{293,296}}</string>
				<key>sourceSize</key>
				<string>{187,287}</string>
			</dict>

			<key>0_Golem_Slashing_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{296,672},{288,298}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{139,79},{288,298}}</string>
				<key>sourceSize</key>
				<string>{187,287}</string>
			</dict>

			<key>0_Golem_Slashing_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{585,484},{282,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{141,77},{282,300}}</string>
				<key>sourceSize</key>
				<string>{187,287}</string>
			</dict>

			<key>0_Golem_Walking_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1418,1149},{188,296}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{133,84},{188,296}}</string>
				<key>sourceSize</key>
				<string>{187,287}</string>
			</dict>

			<key>0_Golem_Walking_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1606,1446},{188,297}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{133,83},{188,297}}</string>
				<key>sourceSize</key>
				<string>{187,287}</string>
			</dict>

			<key>0_Golem_Walking_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1984,1176},{188,295}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{127,85},{188,295}}</string>
				<key>sourceSize</key>
				<string>{187,287}</string>
			</dict>

			<key>0_Golem_Walking_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1819,299},{188,296}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{130,85},{188,296}}</string>
				<key>sourceSize</key>
				<string>{187,287}</string>
			</dict>

			<key>0_Golem_Walking_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1065,0},{189,298}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{133,84},{189,298}}</string>
				<key>sourceSize</key>
				<string>{187,287}</string>
			</dict>

			<key>0_Golem_Walking_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1819,0},{188,298}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{134,83},{188,298}}</string>
				<key>sourceSize</key>
				<string>{187,287}</string>
			</dict>

			<key>0_Golem_Walking_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1045,1065},{189,298}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{133,82},{189,298}}</string>
				<key>sourceSize</key>
				<string>{187,287}</string>
			</dict>

			<key>0_Golem_Walking_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1038,1661},{189,296}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{130,83},{189,296}}</string>
				<key>sourceSize</key>
				<string>{187,287}</string>
			</dict>

			<key>0_Golem_Walking_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1038,1365},{189,295}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{127,84},{189,295}}</string>
				<key>sourceSize</key>
				<string>{187,287}</string>
			</dict>

			<key>0_Golem_Walking_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1984,1472},{188,294}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{125,84},{188,294}}</string>
				<key>sourceSize</key>
				<string>{187,287}</string>
			</dict>

			<key>0_Golem_Walking_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{2362,578},{187,292}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{122,85},{187,292}}</string>
				<key>sourceSize</key>
				<string>{187,287}</string>
			</dict>

			<key>0_Golem_Walking_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{2173,1474},{187,290}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{121,87},{187,290}}</string>
				<key>sourceSize</key>
				<string>{187,287}</string>
			</dict>

			<key>0_Golem_Walking_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1228,1364},{189,297}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{132,82},{189,297}}</string>
				<key>sourceSize</key>
				<string>{187,287}</string>
			</dict>

			<key>0_Golem_Walking_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{2173,1184},{187,289}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{121,88},{187,289}}</string>
				<key>sourceSize</key>
				<string>{187,287}</string>
			</dict>

			<key>0_Golem_Walking_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{1795,1182},{188,291}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{123,87},{188,291}}</string>
				<key>sourceSize</key>
				<string>{187,287}</string>
			</dict>

			<key>0_Golem_Walking_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{1985,596},{188,293}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{126,86},{188,293}}</string>
				<key>sourceSize</key>
				<string>{187,287}</string>
			</dict>

			<key>0_Golem_Walking_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{1795,1474},{188,295}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{129,85},{188,295}}</string>
				<key>sourceSize</key>
				<string>{187,287}</string>
			</dict>

			<key>0_Golem_Walking_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1606,1744},{188,296}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{130,83},{188,296}}</string>
				<key>sourceSize</key>
				<string>{187,287}</string>
			</dict>

			<key>0_Golem_Walking_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1607,886},{188,295}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{127,83},{188,295}}</string>
				<key>sourceSize</key>
				<string>{187,287}</string>
			</dict>

			<key>0_Golem_Walking_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1613,588},{188,294}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{124,84},{188,294}}</string>
				<key>sourceSize</key>
				<string>{187,287}</string>
			</dict>

			<key>0_Golem_Walking_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1796,883},{188,292}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{121,85},{188,292}}</string>
				<key>sourceSize</key>
				<string>{187,287}</string>
			</dict>

			<key>0_Golem_Walking_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{2549,871},{187,291}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{121,86},{187,291}}</string>
				<key>sourceSize</key>
				<string>{187,287}</string>
			</dict>

			<key>0_Golem_Walking_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{2385,0},{187,291}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{121,87},{187,291}}</string>
				<key>sourceSize</key>
				<string>{187,287}</string>
			</dict>

			<key>0_Golem_Walking_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{2008,0},{188,293}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{124,86},{188,293}}</string>
				<key>sourceSize</key>
				<string>{187,287}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{4096,2048}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>