<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Hed_hurt_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{770,634},{191,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,4},{191,154}}</string>
				<key>sourceSize</key>
				<string>{191,155}</string>
			</dict>

			<key>Hed_hurt_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{771,0},{191,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,4},{191,154}}</string>
				<key>sourceSize</key>
				<string>{191,155}</string>
			</dict>

			<key>Hed_hurt_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,317},{192,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,3},{192,155}}</string>
				<key>sourceSize</key>
				<string>{191,155}</string>
			</dict>

			<key>Hed_hurt_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1346,470},{191,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,3},{191,155}}</string>
				<key>sourceSize</key>
				<string>{191,155}</string>
			</dict>

			<key>Hed_hurt_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,158},{192,157}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,1},{192,157}}</string>
				<key>sourceSize</key>
				<string>{191,155}</string>
			</dict>

			<key>Hed_hurt_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{386,317},{192,157}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,1},{192,157}}</string>
				<key>sourceSize</key>
				<string>{191,155}</string>
			</dict>

			<key>Hed_hurt_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{194,0},{192,157}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,1},{192,157}}</string>
				<key>sourceSize</key>
				<string>{191,155}</string>
			</dict>

			<key>Hed_hurt_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{193,157}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,1},{193,157}}</string>
				<key>sourceSize</key>
				<string>{191,155}</string>
			</dict>

			<key>Hed_hurt_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,787},{192,157}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,1},{192,157}}</string>
				<key>sourceSize</key>
				<string>{191,155}</string>
			</dict>

			<key>Hed_hurt_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,630},{192,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,2},{192,156}}</string>
				<key>sourceSize</key>
				<string>{191,155}</string>
			</dict>

			<key>Hed_hurt_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,473},{192,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,2},{192,156}}</string>
				<key>sourceSize</key>
				<string>{191,155}</string>
			</dict>

			<key>Hed_hurt_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1346,626},{191,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,2},{191,156}}</string>
				<key>sourceSize</key>
				<string>{191,155}</string>
			</dict>

			<key>Hed_idle Blinking_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1154,790},{191,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,4},{191,154}}</string>
				<key>sourceSize</key>
				<string>{191,155}</string>
			</dict>

			<key>Hed_idle Blinking_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1346,157},{191,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,3},{191,155}}</string>
				<key>sourceSize</key>
				<string>{191,155}</string>
			</dict>

			<key>Hed_idle Blinking_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,624},{191,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,2},{191,156}}</string>
				<key>sourceSize</key>
				<string>{191,155}</string>
			</dict>

			<key>Hed_idle Blinking_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,468},{191,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,3},{191,155}}</string>
				<key>sourceSize</key>
				<string>{191,155}</string>
			</dict>

			<key>Hed_idle Blinking_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1155,0},{191,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,2},{191,156}}</string>
				<key>sourceSize</key>
				<string>{191,155}</string>
			</dict>

			<key>Hed_idle Blinking_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1154,317},{191,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,2},{191,156}}</string>
				<key>sourceSize</key>
				<string>{191,155}</string>
			</dict>

			<key>Hed_idle Blinking_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1154,632},{191,157}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,1},{191,157}}</string>
				<key>sourceSize</key>
				<string>{191,155}</string>
			</dict>

			<key>Hed_idle Blinking_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1154,474},{191,157}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,1},{191,157}}</string>
				<key>sourceSize</key>
				<string>{191,155}</string>
			</dict>

			<key>Hed_idle Blinking_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,158},{192,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,0},{192,158}}</string>
				<key>sourceSize</key>
				<string>{191,155}</string>
			</dict>

			<key>Hed_idle Blinking_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1154,158},{191,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{191,158}}</string>
				<key>sourceSize</key>
				<string>{191,155}</string>
			</dict>

			<key>Hed_idle Blinking_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{963,0},{191,157}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,1},{191,157}}</string>
				<key>sourceSize</key>
				<string>{191,155}</string>
			</dict>

			<key>Hed_idle Blinking_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,781},{191,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,2},{191,156}}</string>
				<key>sourceSize</key>
				<string>{191,155}</string>
			</dict>

			<key>Hed_idle_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1154,790},{191,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,4},{191,154}}</string>
				<key>sourceSize</key>
				<string>{191,155}</string>
			</dict>

			<key>Hed_idle_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1346,157},{191,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,3},{191,155}}</string>
				<key>sourceSize</key>
				<string>{191,155}</string>
			</dict>

			<key>Hed_idle_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,311},{191,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,2},{191,156}}</string>
				<key>sourceSize</key>
				<string>{191,155}</string>
			</dict>

			<key>Hed_idle_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{771,155},{191,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,3},{191,155}}</string>
				<key>sourceSize</key>
				<string>{191,155}</string>
			</dict>

			<key>Hed_idle_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1155,0},{191,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,2},{191,156}}</string>
				<key>sourceSize</key>
				<string>{191,155}</string>
			</dict>

			<key>Hed_idle_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1154,317},{191,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,2},{191,156}}</string>
				<key>sourceSize</key>
				<string>{191,155}</string>
			</dict>

			<key>Hed_idle_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1154,632},{191,157}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,1},{191,157}}</string>
				<key>sourceSize</key>
				<string>{191,155}</string>
			</dict>

			<key>Hed_idle_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1154,474},{191,157}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,1},{191,157}}</string>
				<key>sourceSize</key>
				<string>{191,155}</string>
			</dict>

			<key>Hed_idle_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,158},{192,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,0},{192,158}}</string>
				<key>sourceSize</key>
				<string>{191,155}</string>
			</dict>

			<key>Hed_idle_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1154,158},{191,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{191,158}}</string>
				<key>sourceSize</key>
				<string>{191,155}</string>
			</dict>

			<key>Hed_idle_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{963,0},{191,157}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,1},{191,157}}</string>
				<key>sourceSize</key>
				<string>{191,155}</string>
			</dict>

			<key>Hed_idle_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,781},{191,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,2},{191,156}}</string>
				<key>sourceSize</key>
				<string>{191,155}</string>
			</dict>

			<key>Hed_smoke_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1457,919},{109,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{41,34},{109,102}}</string>
				<key>sourceSize</key>
				<string>{191,155}</string>
			</dict>

			<key>Hed_smoke_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1346,919},{110,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{41,34},{110,103}}</string>
				<key>sourceSize</key>
				<string>{191,155}</string>
			</dict>

			<key>Hed_smoke_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1538,247},{116,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{38,28},{116,115}}</string>
				<key>sourceSize</key>
				<string>{191,155}</string>
			</dict>

			<key>Hed_smoke_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1538,130},{118,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{37,27},{118,116}}</string>
				<key>sourceSize</key>
				<string>{191,155}</string>
			</dict>

			<key>Hed_smoke_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1488,0},{137,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{27,21},{137,129}}</string>
				<key>sourceSize</key>
				<string>{191,155}</string>
			</dict>

			<key>Hed_smoke_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1487,783},{138,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{27,20},{138,131}}</string>
				<key>sourceSize</key>
				<string>{191,155}</string>
			</dict>

			<key>Hed_smoke_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1347,0},{140,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{26,20},{140,131}}</string>
				<key>sourceSize</key>
				<string>{191,155}</string>
			</dict>

			<key>Hed_smoke_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1346,783},{140,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{25,17},{140,135}}</string>
				<key>sourceSize</key>
				<string>{191,155}</string>
			</dict>

			<key>Hed_smoke_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{963,158},{142,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{24,16},{142,137}}</string>
				<key>sourceSize</key>
				<string>{191,155}</string>
			</dict>

			<key>Hed_smoke_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{579,317},{143,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{24,16},{143,138}}</string>
				<key>sourceSize</key>
				<string>{191,155}</string>
			</dict>

			<key>Hed_walking_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,0},{191,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,4},{191,156}}</string>
				<key>sourceSize</key>
				<string>{191,155}</string>
			</dict>

			<key>Hed_walking_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{386,792},{191,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,3},{191,156}}</string>
				<key>sourceSize</key>
				<string>{191,155}</string>
			</dict>

			<key>Hed_walking_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{578,791},{191,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,3},{191,156}}</string>
				<key>sourceSize</key>
				<string>{191,155}</string>
			</dict>

			<key>Hed_walking_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{579,0},{191,157}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,2},{191,157}}</string>
				<key>sourceSize</key>
				<string>{191,155}</string>
			</dict>

			<key>Hed_walking_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{579,158},{191,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,1},{191,158}}</string>
				<key>sourceSize</key>
				<string>{191,155}</string>
			</dict>

			<key>Hed_walking_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,634},{192,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,1},{192,158}}</string>
				<key>sourceSize</key>
				<string>{191,155}</string>
			</dict>

			<key>Hed_walking_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,475},{192,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,1},{192,158}}</string>
				<key>sourceSize</key>
				<string>{191,155}</string>
			</dict>

			<key>Hed_walking_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,316},{192,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,1},{192,158}}</string>
				<key>sourceSize</key>
				<string>{191,155}</string>
			</dict>

			<key>Hed_walking_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{770,789},{191,157}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,2},{191,157}}</string>
				<key>sourceSize</key>
				<string>{191,155}</string>
			</dict>

			<key>Hed_walking_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1346,313},{191,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,3},{191,156}}</string>
				<key>sourceSize</key>
				<string>{191,155}</string>
			</dict>

			<key>Hed_walking_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{770,476},{191,157}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,2},{191,157}}</string>
				<key>sourceSize</key>
				<string>{191,155}</string>
			</dict>

			<key>Hed_walking_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{770,317},{191,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,1},{191,158}}</string>
				<key>sourceSize</key>
				<string>{191,155}</string>
			</dict>

			<key>Hed_walking_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,793},{192,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,1},{192,158}}</string>
				<key>sourceSize</key>
				<string>{191,155}</string>
			</dict>

			<key>Hed_walking_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{386,158},{192,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,1},{192,158}}</string>
				<key>sourceSize</key>
				<string>{191,155}</string>
			</dict>

			<key>Hed_walking_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{386,633},{191,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,1},{191,158}}</string>
				<key>sourceSize</key>
				<string>{191,155}</string>
			</dict>

			<key>Hed_walking_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{386,475},{191,157}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,2},{191,157}}</string>
				<key>sourceSize</key>
				<string>{191,155}</string>
			</dict>

			<key>Hed_walking_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{578,475},{191,157}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,2},{191,157}}</string>
				<key>sourceSize</key>
				<string>{191,155}</string>
			</dict>

			<key>Hed_walking_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{578,633},{191,157}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,3},{191,157}}</string>
				<key>sourceSize</key>
				<string>{191,155}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>