<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Animal_02__FLY_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{220,181}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{332,163},{220,181}}</string>
				<key>sourceSize</key>
				<string>{220,181}</string>
			</dict>

			<key>Animal_02__FLY_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{220,181}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{332,163},{220,181}}</string>
				<key>sourceSize</key>
				<string>{220,181}</string>
			</dict>

			<key>Animal_02__FLY_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{220,181}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{332,163},{220,181}}</string>
				<key>sourceSize</key>
				<string>{220,181}</string>
			</dict>

			<key>Animal_02__FLY_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{221,0},{193,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{359,248},{193,114}}</string>
				<key>sourceSize</key>
				<string>{220,181}</string>
			</dict>

			<key>Animal_02__FLY_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{221,0},{193,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{359,248},{193,114}}</string>
				<key>sourceSize</key>
				<string>{220,181}</string>
			</dict>

			<key>Animal_02__FLY_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{220,181}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{332,163},{220,181}}</string>
				<key>sourceSize</key>
				<string>{220,181}</string>
			</dict>

			<key>Animal_02__FLY_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{220,181}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{332,163},{220,181}}</string>
				<key>sourceSize</key>
				<string>{220,181}</string>
			</dict>

			<key>Animal_02__FLY_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{220,181}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{332,163},{220,181}}</string>
				<key>sourceSize</key>
				<string>{220,181}</string>
			</dict>

			<key>Animal_02__FLY_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{221,0},{193,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{359,248},{193,114}}</string>
				<key>sourceSize</key>
				<string>{220,181}</string>
			</dict>

			<key>Animal_02__FLY_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{221,0},{193,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{359,248},{193,114}}</string>
				<key>sourceSize</key>
				<string>{220,181}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,256}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>