<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Wukong-Swimp_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,110},{215,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,13},{215,108}}</string>
				<key>sourceSize</key>
				<string>{215,108}</string>
			</dict>

			<key>Wukong-Swimp_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,780},{213,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,11},{213,108}}</string>
				<key>sourceSize</key>
				<string>{215,108}</string>
			</dict>

			<key>Wukong-Swimp_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,664},{214,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,15},{214,115}}</string>
				<key>sourceSize</key>
				<string>{215,108}</string>
			</dict>

			<key>Wukong-Swimp_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,889},{213,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,17},{213,120}}</string>
				<key>sourceSize</key>
				<string>{215,108}</string>
			</dict>

			<key>Wukong-Swimp_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{215,548},{211,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,18},{211,125}}</string>
				<key>sourceSize</key>
				<string>{215,108}</string>
			</dict>

			<key>Wukong-Swimp_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{216,0},{211,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,18},{211,125}}</string>
				<key>sourceSize</key>
				<string>{215,108}</string>
			</dict>

			<key>Wukong-Swimp_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{214,888},{213,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,17},{213,120}}</string>
				<key>sourceSize</key>
				<string>{215,108}</string>
			</dict>

			<key>Wukong-Swimp_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,548},{214,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,15},{214,115}}</string>
				<key>sourceSize</key>
				<string>{215,108}</string>
			</dict>

			<key>Wukong-Swimp_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,328},{215,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,14},{215,109}}</string>
				<key>sourceSize</key>
				<string>{215,108}</string>
			</dict>

			<key>Wukong-Swimp_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,219},{215,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,13},{215,108}}</string>
				<key>sourceSize</key>
				<string>{215,108}</string>
			</dict>

			<key>Wukong-Swimp_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{216,126},{211,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,10},{211,110}}</string>
				<key>sourceSize</key>
				<string>{215,108}</string>
			</dict>

			<key>Wukong-Swimp_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{216,348},{208,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,9},{208,112}}</string>
				<key>sourceSize</key>
				<string>{215,108}</string>
			</dict>

			<key>Wukong-Swimp_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{427,462},{205,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,7},{205,114}}</string>
				<key>sourceSize</key>
				<string>{215,108}</string>
			</dict>

			<key>Wukong-Swimp_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{425,348},{207,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,8},{207,113}}</string>
				<key>sourceSize</key>
				<string>{215,108}</string>
			</dict>

			<key>Wukong-Swimp_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{216,237},{210,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,10},{210,110}}</string>
				<key>sourceSize</key>
				<string>{215,108}</string>
			</dict>

			<key>Wukong-Swimp_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{214,780},{213,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,11},{213,107}}</string>
				<key>sourceSize</key>
				<string>{215,108}</string>
			</dict>

			<key>Wukong-Swimp_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{215,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,12},{215,109}}</string>
				<key>sourceSize</key>
				<string>{215,108}</string>
			</dict>

			<key>Wukong-Swimp_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,438},{215,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,14},{215,109}}</string>
				<key>sourceSize</key>
				<string>{215,108}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>