<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Wukong-Death_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1840,778},{212,293}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{141,67},{212,293}}</string>
				<key>sourceSize</key>
				<string>{354,409}</string>
			</dict>

			<key>Wukong-Death_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1512,778},{228,311}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{107,41},{228,311}}</string>
				<key>sourceSize</key>
				<string>{354,409}</string>
			</dict>

			<key>Wukong-Death_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1144,966},{268,248}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{48,113},{268,248}}</string>
				<key>sourceSize</key>
				<string>{354,409}</string>
			</dict>

			<key>Wukong-Death_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{775,1282},{269,248}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{47,138},{269,248}}</string>
				<key>sourceSize</key>
				<string>{354,409}</string>
			</dict>

			<key>Wukong-Death_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{783,619},{268,247}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{48,129},{268,247}}</string>
				<key>sourceSize</key>
				<string>{354,409}</string>
			</dict>

			<key>Wukong-Death_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{789,0},{268,247}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{48,129},{268,247}}</string>
				<key>sourceSize</key>
				<string>{354,409}</string>
			</dict>

			<key>Wukong-Death_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{420,271},{269,248}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{47,138},{269,248}}</string>
				<key>sourceSize</key>
				<string>{354,409}</string>
			</dict>

			<key>Wukong-Death_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{394,1492},{281,243}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{37,146},{281,243}}</string>
				<key>sourceSize</key>
				<string>{354,409}</string>
			</dict>

			<key>Wukong-Death_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1492},{294,236}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{26,154},{294,236}}</string>
				<key>sourceSize</key>
				<string>{354,409}</string>
			</dict>

			<key>Wukong-Death_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1167},{305,225}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{18,166},{305,225}}</string>
				<key>sourceSize</key>
				<string>{354,409}</string>
			</dict>

			<key>Wukong-Death_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,853},{313,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{14,179},{313,214}}</string>
				<key>sourceSize</key>
				<string>{354,409}</string>
			</dict>

			<key>Wukong-Death_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,554},{315,199}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{13,195},{315,199}}</string>
				<key>sourceSize</key>
				<string>{354,409}</string>
			</dict>

			<key>Wukong-Death_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1509,1314},{259,329}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{84,20},{259,329}}</string>
				<key>sourceSize</key>
				<string>{354,409}</string>
			</dict>

			<key>Wukong-Death_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,271},{320,183}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,212},{320,183}}</string>
				<key>sourceSize</key>
				<string>{354,409}</string>
			</dict>

			<key>Wukong-Death_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{321,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,228},{321,171}}</string>
				<key>sourceSize</key>
				<string>{354,409}</string>
			</dict>

			<key>Wukong-Death_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{321,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,228},{321,171}}</string>
				<key>sourceSize</key>
				<string>{354,409}</string>
			</dict>

			<key>Wukong-Death_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{321,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,228},{321,171}}</string>
				<key>sourceSize</key>
				<string>{354,409}</string>
			</dict>

			<key>Wukong-Death_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{321,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,228},{321,171}}</string>
				<key>sourceSize</key>
				<string>{354,409}</string>
			</dict>

			<key>Wukong-Death_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{321,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,228},{321,171}}</string>
				<key>sourceSize</key>
				<string>{354,409}</string>
			</dict>

			<key>Wukong-Death_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{413,853},{270,329}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{74,8},{270,329}}</string>
				<key>sourceSize</key>
				<string>{354,409}</string>
			</dict>

			<key>Wukong-Death_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1151,347},{261,312}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{76,4},{261,312}}</string>
				<key>sourceSize</key>
				<string>{354,409}</string>
			</dict>

			<key>Wukong-Death_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1512,0},{253,298}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{78,16},{253,298}}</string>
				<key>sourceSize</key>
				<string>{354,409}</string>
			</dict>

			<key>Wukong-Death_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1512,398},{249,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{77,33},{249,280}}</string>
				<key>sourceSize</key>
				<string>{354,409}</string>
			</dict>

			<key>Wukong-Death_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1144,1666},{250,268}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{72,44},{250,268}}</string>
				<key>sourceSize</key>
				<string>{354,409}</string>
			</dict>

			<key>Wukong-Death_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1144,1314},{265,252}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{53,57},{265,252}}</string>
				<key>sourceSize</key>
				<string>{354,409}</string>
			</dict>

			<key>Wukong-Death_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{775,1630},{269,248}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{47,82},{269,248}}</string>
				<key>sourceSize</key>
				<string>{354,409}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{4096,2048}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>