<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bossbat_hurt_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,705},{272,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{18,9},{272,159}}</string>
				<key>sourceSize</key>
				<string>{272,159}</string>
			</dict>

			<key>bossbat_hurt_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1278},{270,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,17},{270,151}}</string>
				<key>sourceSize</key>
				<string>{272,159}</string>
			</dict>

			<key>bossbat_hurt_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1688},{269,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{14,13},{269,155}}</string>
				<key>sourceSize</key>
				<string>{272,159}</string>
			</dict>

			<key>bossbat_hurt_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1123},{270,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{16,14},{270,154}}</string>
				<key>sourceSize</key>
				<string>{272,159}</string>
			</dict>

			<key>bossbat_hurt_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,518},{262,157}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,12},{262,157}}</string>
				<key>sourceSize</key>
				<string>{272,159}</string>
			</dict>

			<key>bossbat_hurt_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{535,1072},{253,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,9},{253,160}}</string>
				<key>sourceSize</key>
				<string>{272,159}</string>
			</dict>

			<key>bossbat_hurt_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{536,290},{245,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,6},{245,163}}</string>
				<key>sourceSize</key>
				<string>{272,159}</string>
			</dict>

			<key>bossbat_hurt_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{536,454},{244,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,6},{244,162}}</string>
				<key>sourceSize</key>
				<string>{272,159}</string>
			</dict>

			<key>bossbat_hurt_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{535,1233},{252,161}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,7},{252,161}}</string>
				<key>sourceSize</key>
				<string>{272,159}</string>
			</dict>

			<key>bossbat_hurt_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{533,129},{258,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,8},{258,160}}</string>
				<key>sourceSize</key>
				<string>{272,159}</string>
			</dict>

			<key>bossbat_hurt_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{272,865},{262,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,10},{262,158}}</string>
				<key>sourceSize</key>
				<string>{272,159}</string>
			</dict>

			<key>bossbat_hurt_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,1430},{266,157}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{13,11},{266,157}}</string>
				<key>sourceSize</key>
				<string>{272,159}</string>
			</dict>

			<key>bossbat_idle Blinking_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,389},{272,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{18,9},{272,159}}</string>
				<key>sourceSize</key>
				<string>{272,159}</string>
			</dict>

			<key>bossbat_idle Blinking_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,260},{273,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{18,39},{273,128}}</string>
				<key>sourceSize</key>
				<string>{272,159}</string>
			</dict>

			<key>bossbat_idle Blinking_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,130},{273,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{19,33},{273,129}}</string>
				<key>sourceSize</key>
				<string>{272,159}</string>
			</dict>

			<key>bossbat_idle Blinking_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1430},{269,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{21,34},{269,128}}</string>
				<key>sourceSize</key>
				<string>{272,159}</string>
			</dict>

			<key>bossbat_idle Blinking_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{271,1123},{263,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{25,35},{263,128}}</string>
				<key>sourceSize</key>
				<string>{272,159}</string>
			</dict>

			<key>bossbat_idle Blinking_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{274,129},{258,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{28,35},{258,129}}</string>
				<key>sourceSize</key>
				<string>{272,159}</string>
			</dict>

			<key>bossbat_idle Blinking_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{535,806},{255,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{30,36},{255,132}}</string>
				<key>sourceSize</key>
				<string>{272,159}</string>
			</dict>

			<key>bossbat_idle Blinking_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{274,0},{261,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{25,37},{261,128}}</string>
				<key>sourceSize</key>
				<string>{272,159}</string>
			</dict>

			<key>bossbat_idle Blinking_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,1588},{266,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{22,38},{266,128}}</string>
				<key>sourceSize</key>
				<string>{272,159}</string>
			</dict>

			<key>bossbat_idle Blinking_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,865},{271,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{19,39},{271,128}}</string>
				<key>sourceSize</key>
				<string>{272,159}</string>
			</dict>

			<key>bossbat_idle Blinking_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1559},{269,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{21,38},{269,128}}</string>
				<key>sourceSize</key>
				<string>{272,159}</string>
			</dict>

			<key>bossbat_idle Blinking_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{271,1252},{263,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{25,37},{263,129}}</string>
				<key>sourceSize</key>
				<string>{272,159}</string>
			</dict>

			<key>bossbat_idle Blinking_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{535,676},{257,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{29,36},{257,129}}</string>
				<key>sourceSize</key>
				<string>{272,159}</string>
			</dict>

			<key>bossbat_idle Blinking_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{274,259},{258,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{29,36},{258,128}}</string>
				<key>sourceSize</key>
				<string>{272,159}</string>
			</dict>

			<key>bossbat_idle Blinking_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,389},{262,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{26,35},{262,128}}</string>
				<key>sourceSize</key>
				<string>{272,159}</string>
			</dict>

			<key>bossbat_idle Blinking_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1844},{268,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{22,34},{268,129}}</string>
				<key>sourceSize</key>
				<string>{272,159}</string>
			</dict>

			<key>bossbat_idle Blinking_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{273,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{19,33},{273,129}}</string>
				<key>sourceSize</key>
				<string>{272,159}</string>
			</dict>

			<key>bossbat_idle Blinking_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,549},{272,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{19,6},{272,155}}</string>
				<key>sourceSize</key>
				<string>{272,159}</string>
			</dict>

			<key>bossbat_idle_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,389},{272,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{18,9},{272,159}}</string>
				<key>sourceSize</key>
				<string>{272,159}</string>
			</dict>

			<key>bossbat_idle_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,260},{273,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{18,39},{273,128}}</string>
				<key>sourceSize</key>
				<string>{272,159}</string>
			</dict>

			<key>bossbat_idle_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,130},{273,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{19,33},{273,129}}</string>
				<key>sourceSize</key>
				<string>{272,159}</string>
			</dict>

			<key>bossbat_idle_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1430},{269,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{21,34},{269,128}}</string>
				<key>sourceSize</key>
				<string>{272,159}</string>
			</dict>

			<key>bossbat_idle_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{271,1123},{263,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{25,35},{263,128}}</string>
				<key>sourceSize</key>
				<string>{272,159}</string>
			</dict>

			<key>bossbat_idle_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{274,129},{258,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{28,35},{258,129}}</string>
				<key>sourceSize</key>
				<string>{272,159}</string>
			</dict>

			<key>bossbat_idle_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{535,939},{255,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{30,36},{255,132}}</string>
				<key>sourceSize</key>
				<string>{272,159}</string>
			</dict>

			<key>bossbat_idle_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,676},{261,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{25,37},{261,128}}</string>
				<key>sourceSize</key>
				<string>{272,159}</string>
			</dict>

			<key>bossbat_idle_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{269,1844},{266,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{22,38},{266,128}}</string>
				<key>sourceSize</key>
				<string>{272,159}</string>
			</dict>

			<key>bossbat_idle_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,994},{271,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{19,39},{271,128}}</string>
				<key>sourceSize</key>
				<string>{272,159}</string>
			</dict>

			<key>bossbat_idle_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1559},{269,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{21,38},{269,128}}</string>
				<key>sourceSize</key>
				<string>{272,159}</string>
			</dict>

			<key>bossbat_idle_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{271,1252},{263,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{25,37},{263,129}}</string>
				<key>sourceSize</key>
				<string>{272,159}</string>
			</dict>

			<key>bossbat_idle_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{535,676},{257,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{29,36},{257,129}}</string>
				<key>sourceSize</key>
				<string>{272,159}</string>
			</dict>

			<key>bossbat_idle_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{274,259},{258,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{29,36},{258,128}}</string>
				<key>sourceSize</key>
				<string>{272,159}</string>
			</dict>

			<key>bossbat_idle_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,389},{262,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{26,35},{262,128}}</string>
				<key>sourceSize</key>
				<string>{272,159}</string>
			</dict>

			<key>bossbat_idle_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1844},{268,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{22,34},{268,129}}</string>
				<key>sourceSize</key>
				<string>{272,159}</string>
			</dict>

			<key>bossbat_idle_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{273,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{19,33},{273,129}}</string>
				<key>sourceSize</key>
				<string>{272,159}</string>
			</dict>

			<key>bossbat_idle_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,549},{272,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{19,6},{272,155}}</string>
				<key>sourceSize</key>
				<string>{272,159}</string>
			</dict>

			<key>bossbat_smoke_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{648,0},{109,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{117,52},{109,102}}</string>
				<key>sourceSize</key>
				<string>{272,159}</string>
			</dict>

			<key>bossbat_smoke_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{536,0},{111,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{116,51},{111,104}}</string>
				<key>sourceSize</key>
				<string>{272,159}</string>
			</dict>

			<key>bossbat_smoke_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{392,1717},{119,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{112,45},{119,117}}</string>
				<key>sourceSize</key>
				<string>{272,159}</string>
			</dict>

			<key>bossbat_smoke_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,1717},{121,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{111,44},{121,119}}</string>
				<key>sourceSize</key>
				<string>{272,159}</string>
			</dict>

			<key>bossbat_smoke_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{680,1529},{140,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{102,37},{140,132}}</string>
				<key>sourceSize</key>
				<string>{272,159}</string>
			</dict>

			<key>bossbat_smoke_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{680,1395},{141,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{101,37},{141,133}}</string>
				<key>sourceSize</key>
				<string>{272,159}</string>
			</dict>

			<key>bossbat_smoke_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{537,1533},{142,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{101,36},{142,134}}</string>
				<key>sourceSize</key>
				<string>{272,159}</string>
			</dict>

			<key>bossbat_smoke_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{537,1395},{142,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{100,34},{142,137}}</string>
				<key>sourceSize</key>
				<string>{272,159}</string>
			</dict>

			<key>bossbat_smoke_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{536,1857},{144,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{99,33},{144,139}}</string>
				<key>sourceSize</key>
				<string>{272,159}</string>
			</dict>

			<key>bossbat_smoke_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{536,1717},{145,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{99,33},{145,139}}</string>
				<key>sourceSize</key>
				<string>{272,159}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,2048}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>