<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bat_hurt_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,574},{272,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{18,7},{272,164}}</string>
				<key>sourceSize</key>
				<string>{272,164}</string>
			</dict>

			<key>bat_hurt_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1311},{270,157}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,16},{270,157}}</string>
				<key>sourceSize</key>
				<string>{272,164}</string>
			</dict>

			<key>bat_hurt_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1632},{269,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{14,13},{269,159}}</string>
				<key>sourceSize</key>
				<string>{272,164}</string>
			</dict>

			<key>bat_hurt_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1469},{270,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{16,10},{270,162}}</string>
				<key>sourceSize</key>
				<string>{272,164}</string>
			</dict>

			<key>bat_hurt_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,572},{262,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,13},{262,162}}</string>
				<key>sourceSize</key>
				<string>{272,164}</string>
			</dict>

			<key>bat_hurt_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{535,735},{253,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,9},{253,167}}</string>
				<key>sourceSize</key>
				<string>{272,164}</string>
			</dict>

			<key>bat_hurt_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{536,1769},{245,169}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,6},{245,169}}</string>
				<key>sourceSize</key>
				<string>{272,164}</string>
			</dict>

			<key>bat_hurt_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{538,1145},{244,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,6},{244,168}}</string>
				<key>sourceSize</key>
				<string>{272,164}</string>
			</dict>

			<key>bat_hurt_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{536,303},{252,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,7},{252,167}}</string>
				<key>sourceSize</key>
				<string>{272,164}</string>
			</dict>

			<key>bat_hurt_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{274,0},{258,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,8},{258,165}}</string>
				<key>sourceSize</key>
				<string>{272,164}</string>
			</dict>

			<key>bat_hurt_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,409},{262,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,10},{262,162}}</string>
				<key>sourceSize</key>
				<string>{272,164}</string>
			</dict>

			<key>bat_hurt_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{271,1174},{266,161}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{13,11},{266,161}}</string>
				<key>sourceSize</key>
				<string>{272,164}</string>
			</dict>

			<key>bat_idle Blinking_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,409},{272,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{18,7},{272,164}}</string>
				<key>sourceSize</key>
				<string>{272,164}</string>
			</dict>

			<key>bat_idle Blinking_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,136},{273,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{18,35},{273,136}}</string>
				<key>sourceSize</key>
				<string>{272,164}</string>
			</dict>

			<key>bat_idle Blinking_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,273},{273,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{19,30},{273,135}}</string>
				<key>sourceSize</key>
				<string>{272,164}</string>
			</dict>

			<key>bat_idle Blinking_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1174},{270,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{21,30},{270,136}}</string>
				<key>sourceSize</key>
				<string>{272,164}</string>
			</dict>

			<key>bat_idle Blinking_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{271,1472},{262,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{25,31},{262,136}}</string>
				<key>sourceSize</key>
				<string>{272,164}</string>
			</dict>

			<key>bat_idle Blinking_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{274,166},{256,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{28,32},{256,135}}</string>
				<key>sourceSize</key>
				<string>{272,164}</string>
			</dict>

			<key>bat_idle Blinking_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{531,1009},{253,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{30,33},{253,135}}</string>
				<key>sourceSize</key>
				<string>{272,164}</string>
			</dict>

			<key>bat_idle Blinking_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,872},{261,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{25,33},{261,136}}</string>
				<key>sourceSize</key>
				<string>{272,164}</string>
			</dict>

			<key>bat_idle Blinking_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{268,1792},{267,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{22,34},{267,136}}</string>
				<key>sourceSize</key>
				<string>{272,164}</string>
			</dict>

			<key>bat_idle Blinking_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,876},{272,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{19,35},{272,136}}</string>
				<key>sourceSize</key>
				<string>{272,164}</string>
			</dict>

			<key>bat_idle Blinking_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,1632},{267,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{21,34},{267,136}}</string>
				<key>sourceSize</key>
				<string>{272,164}</string>
			</dict>

			<key>bat_idle Blinking_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,1009},{257,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{25,34},{257,135}}</string>
				<key>sourceSize</key>
				<string>{272,164}</string>
			</dict>

			<key>bat_idle Blinking_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{536,471},{249,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{29,33},{249,135}}</string>
				<key>sourceSize</key>
				<string>{272,164}</string>
			</dict>

			<key>bat_idle Blinking_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{534,1472},{249,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{29,32},{249,136}}</string>
				<key>sourceSize</key>
				<string>{272,164}</string>
			</dict>

			<key>bat_idle Blinking_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{531,166},{256,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{26,31},{256,136}}</string>
				<key>sourceSize</key>
				<string>{272,164}</string>
			</dict>

			<key>bat_idle Blinking_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{271,1336},{266,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{22,31},{266,135}}</string>
				<key>sourceSize</key>
				<string>{272,164}</string>
			</dict>

			<key>bat_idle Blinking_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{273,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{19,30},{273,135}}</string>
				<key>sourceSize</key>
				<string>{272,164}</string>
			</dict>

			<key>bat_idle Blinking_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1013},{272,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{19,5},{272,160}}</string>
				<key>sourceSize</key>
				<string>{272,164}</string>
			</dict>

			<key>bat_idle_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,409},{272,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{18,7},{272,164}}</string>
				<key>sourceSize</key>
				<string>{272,164}</string>
			</dict>

			<key>bat_idle_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,136},{273,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{18,35},{273,136}}</string>
				<key>sourceSize</key>
				<string>{272,164}</string>
			</dict>

			<key>bat_idle_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,273},{273,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{19,30},{273,135}}</string>
				<key>sourceSize</key>
				<string>{272,164}</string>
			</dict>

			<key>bat_idle_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1174},{270,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{21,30},{270,136}}</string>
				<key>sourceSize</key>
				<string>{272,164}</string>
			</dict>

			<key>bat_idle_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{271,1472},{262,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{25,31},{262,136}}</string>
				<key>sourceSize</key>
				<string>{272,164}</string>
			</dict>

			<key>bat_idle_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{274,166},{256,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{28,32},{256,135}}</string>
				<key>sourceSize</key>
				<string>{272,164}</string>
			</dict>

			<key>bat_idle_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{533,0},{253,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{30,33},{253,135}}</string>
				<key>sourceSize</key>
				<string>{272,164}</string>
			</dict>

			<key>bat_idle_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,735},{261,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{25,33},{261,136}}</string>
				<key>sourceSize</key>
				<string>{272,164}</string>
			</dict>

			<key>bat_idle_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1792},{267,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{22,34},{267,136}}</string>
				<key>sourceSize</key>
				<string>{272,164}</string>
			</dict>

			<key>bat_idle_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,739},{272,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{19,35},{272,136}}</string>
				<key>sourceSize</key>
				<string>{272,164}</string>
			</dict>

			<key>bat_idle_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,1632},{267,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{21,34},{267,136}}</string>
				<key>sourceSize</key>
				<string>{272,164}</string>
			</dict>

			<key>bat_idle_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,1009},{257,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{25,34},{257,135}}</string>
				<key>sourceSize</key>
				<string>{272,164}</string>
			</dict>

			<key>bat_idle_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{536,471},{249,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{29,33},{249,135}}</string>
				<key>sourceSize</key>
				<string>{272,164}</string>
			</dict>

			<key>bat_idle_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{534,1472},{249,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{29,32},{249,136}}</string>
				<key>sourceSize</key>
				<string>{272,164}</string>
			</dict>

			<key>bat_idle_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{531,166},{256,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{26,31},{256,136}}</string>
				<key>sourceSize</key>
				<string>{272,164}</string>
			</dict>

			<key>bat_idle_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{271,1336},{266,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{22,31},{266,135}}</string>
				<key>sourceSize</key>
				<string>{272,164}</string>
			</dict>

			<key>bat_idle_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{273,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{19,30},{273,135}}</string>
				<key>sourceSize</key>
				<string>{272,164}</string>
			</dict>

			<key>bat_idle_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1013},{272,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{19,5},{272,160}}</string>
				<key>sourceSize</key>
				<string>{272,164}</string>
			</dict>

			<key>bat_smoke_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,1939},{109,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{117,52},{109,102}}</string>
				<key>sourceSize</key>
				<string>{272,164}</string>
			</dict>

			<key>bat_smoke_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,1939},{111,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{116,51},{111,104}}</string>
				<key>sourceSize</key>
				<string>{272,164}</string>
			</dict>

			<key>bat_smoke_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1929},{119,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{112,45},{119,117}}</string>
				<key>sourceSize</key>
				<string>{272,164}</string>
			</dict>

			<key>bat_smoke_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{536,607},{121,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{111,44},{121,119}}</string>
				<key>sourceSize</key>
				<string>{272,164}</string>
			</dict>

			<key>bat_smoke_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{782,1881},{140,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{102,37},{140,132}}</string>
				<key>sourceSize</key>
				<string>{272,164}</string>
			</dict>

			<key>bat_smoke_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{782,1747},{141,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{101,37},{141,133}}</string>
				<key>sourceSize</key>
				<string>{272,164}</string>
			</dict>

			<key>bat_smoke_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{684,1314},{142,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{101,36},{142,134}}</string>
				<key>sourceSize</key>
				<string>{272,164}</string>
			</dict>

			<key>bat_smoke_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{683,1609},{142,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{100,34},{142,137}}</string>
				<key>sourceSize</key>
				<string>{272,164}</string>
			</dict>

			<key>bat_smoke_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{538,1609},{144,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{99,33},{144,139}}</string>
				<key>sourceSize</key>
				<string>{272,164}</string>
			</dict>

			<key>bat_smoke_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{538,1314},{145,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{99,33},{145,139}}</string>
				<key>sourceSize</key>
				<string>{272,164}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,2048}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>