<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>YouLose_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1006},{1,1}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{-2,-2},{1,1}}</string>
				<key>sourceSize</key>
				<string>{477,424}</string>
			</dict>

			<key>YouLose_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{616,523},{74,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,90},{74,88}}</string>
				<key>sourceSize</key>
				<string>{477,424}</string>
			</dict>

			<key>YouLose_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{698,907},{192,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,175},{192,98}}</string>
				<key>sourceSize</key>
				<string>{477,424}</string>
			</dict>

			<key>YouLose_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{821,0},{285,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,175},{285,179}}</string>
				<key>sourceSize</key>
				<string>{477,424}</string>
			</dict>

			<key>YouLose_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{821,180},{285,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,175},{285,138}}</string>
				<key>sourceSize</key>
				<string>{477,424}</string>
			</dict>

			<key>YouLose_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{412,907},{285,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,175},{285,98}}</string>
				<key>sourceSize</key>
				<string>{477,424}</string>
			</dict>

			<key>YouLose_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{466,127},{354,218}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,55},{354,218}}</string>
				<key>sourceSize</key>
				<string>{477,424}</string>
			</dict>

			<key>YouLose_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{466,346},{354,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,101},{354,172}}</string>
				<key>sourceSize</key>
				<string>{477,424}</string>
			</dict>

			<key>YouLose_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{466,0},{354,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,147},{354,126}}</string>
				<key>sourceSize</key>
				<string>{477,424}</string>
			</dict>

			<key>YouLose_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,613},{411,231}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,171},{411,231}}</string>
				<key>sourceSize</key>
				<string>{477,424}</string>
			</dict>

			<key>YouLose_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{412,613},{411,181}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,171},{411,181}}</string>
				<key>sourceSize</key>
				<string>{477,424}</string>
			</dict>

			<key>YouLose_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,845},{411,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,171},{411,132}}</string>
				<key>sourceSize</key>
				<string>{477,424}</string>
			</dict>

			<key>YouLose_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{541,523},{74,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,127},{74,88}}</string>
				<key>sourceSize</key>
				<string>{477,424}</string>
			</dict>

			<key>YouLose_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{412,795},{411,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,162},{411,111}}</string>
				<key>sourceSize</key>
				<string>{477,424}</string>
			</dict>

			<key>YouLose_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,286},{465,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,59},{465,214}}</string>
				<key>sourceSize</key>
				<string>{477,424}</string>
			</dict>

			<key>YouLose_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,119},{465,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,107},{465,166}}</string>
				<key>sourceSize</key>
				<string>{477,424}</string>
			</dict>

			<key>YouLose_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{465,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,155},{465,118}}</string>
				<key>sourceSize</key>
				<string>{477,424}</string>
			</dict>

			<key>YouLose_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,501},{465,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,162},{465,111}}</string>
				<key>sourceSize</key>
				<string>{477,424}</string>
			</dict>

			<key>YouLose_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,501},{465,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,162},{465,111}}</string>
				<key>sourceSize</key>
				<string>{477,424}</string>
			</dict>

			<key>YouLose_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,501},{465,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,162},{465,111}}</string>
				<key>sourceSize</key>
				<string>{477,424}</string>
			</dict>

			<key>YouLose_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,501},{465,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,162},{465,111}}</string>
				<key>sourceSize</key>
				<string>{477,424}</string>
			</dict>

			<key>YouLose_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,501},{465,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,162},{465,111}}</string>
				<key>sourceSize</key>
				<string>{477,424}</string>
			</dict>

			<key>YouLose_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,501},{465,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,162},{465,111}}</string>
				<key>sourceSize</key>
				<string>{477,424}</string>
			</dict>

			<key>YouLose_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{466,523},{74,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,163},{74,89}}</string>
				<key>sourceSize</key>
				<string>{477,424}</string>
			</dict>

			<key>YouLose_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1017,319},{128,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,175},{128,206}}</string>
				<key>sourceSize</key>
				<string>{477,424}</string>
			</dict>

			<key>YouLose_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{891,814},{128,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,175},{128,164}}</string>
				<key>sourceSize</key>
				<string>{477,424}</string>
			</dict>

			<key>YouLose_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1017,526},{128,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,175},{128,123}}</string>
				<key>sourceSize</key>
				<string>{477,424}</string>
			</dict>

			<key>YouLose_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{821,319},{192,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,67},{192,203}}</string>
				<key>sourceSize</key>
				<string>{477,424}</string>
			</dict>

			<key>YouLose_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{824,649},{192,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,106},{192,164}}</string>
				<key>sourceSize</key>
				<string>{477,424}</string>
			</dict>

			<key>YouLose_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{824,523},{192,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,145},{192,125}}</string>
				<key>sourceSize</key>
				<string>{477,424}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>